---
title:  Senha alterada
---

<section id="pre-register">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="page-title">
          Senha
        </h1>
      </div>
      <div class="col-md-offset-4 col-md-4 text-center" style="min-height:200px">
        <p> Sua senha foi alterada com sucesso. Faça o login no <strong class="text-success">PORTAL DO CANDIDATO</strong> e acesse sua página.</p>
      </div>
    </div>
  </div>
</section>

