
    <div class="container" style="margin-top: 100px;">
      <div class="row" style="min-height: 350px">
        <div class="col-md-8 col-sm-8">

          <div class="valor-doa-container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="doa-radio-btn-cont">
                  <input type="radio" name="opcao_doar" class="opcao_doar_radio" id="opcao_doar_10" ng-model="doar.amount" value="20.0">
                </div>
                <div class="valor-doa-txt-nbr">
                  <span class="doar-txt">Doar</span><br/><span class="doar-number">R$ 20,00</span>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 doar-btn-cont text-right">
                <button id="btn_opcao_doar_10" class="btn btn-verde-doar" ng-click="doar_continue(doar.amount)">Continuar</button>
              </div>
            </div>
          </div>
          <div class="valor-doa-container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="doa-radio-btn-cont">
                  <input type="radio" name="opcao_doar" class="opcao_doar_radio" id="opcao_doar_20" ng-model="doar.amount" value="50.0">
                </div>
                <div class="valor-doa-txt-nbr">
                  <span class="doar-txt">Doar</span><br/><span class="doar-number">R$ 50,00</span>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 doar-btn-cont text-right">
                <button id="btn_opcao_doar_20" class="btn btn-verde-doar" ng-click="doar_continue(doar.amount)">Continuar</button>
              </div>
            </div>
          </div>
          <div class="valor-doa-container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="doa-radio-btn-cont">
                  <input type="radio" name="opcao_doar" class="opcao_doar_radio" id="opcao_doar_30" ng-model="doar.amount" value="100.0">
                </div>
                <div class="valor-doa-txt-nbr">
                  <span class="doar-txt">Doar</span><br/><span class="doar-number">R$ 100,00</span>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 doar-btn-cont text-right">
                <button id="btn_opcao_doar_30" class="btn btn-verde-doar" ng-click="doar_continue(doar.amount)">Continuar</button>
              </div>
            </div>
          </div>
          <div class="valor-doa-container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="doa-radio-btn-cont">
                  <input type="radio" name="opcao_doar" class="opcao_doar_radio opcao_doar_diff" id="opcao_doar_30">
                </div>
                <div class="valor-doa-txt-nbr">
                  <span class="doar-txt">Doar um valor diferente</span><br/><span class="doar-number">R$</span><input type="text" name="opcao_doar_diferente" ng-model="doar.amount_diff" class="doar-number-diferente" ui-number-mask="2" placeholder="00,00" disabled />
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 doar-btn-cont text-right">
                <button id="btn_opcao_doar_30" class="btn btn-verde-doar" ng-click="doar_continue(doar.amount_diff)">Continuar</button>
              </div>
            </div>
          </div>

          <% content_tag :form, name: 'doarForm', id: 'doar-form', class: 'angular-form hide', 'ng-submit' => "send_donation()", novalidate: '' do %>
            <div class="row">
              <input type="hidden" name="sender_hash" ng-model="doar.sender_hash">
              <input type="hidden" name="credit_card_token" ng-model="doar.credit_card_token">

              <!-- personal infor -->
              <div class="form-group icon-left icon-with-label col-md-12">
                <h3 class="text-success">Dados do doador</h3>
              </div>
              <div class="form-group icon-left icon-with-label col-md-12">
                <label for="name">Nome Completo</label>
                <i class="fa fa-user"></i>
                <input class="form-control" type="text" ng-model="doar.name" placeholder="">
              </div>
              <div class="form-group icon-left icon-with-label col-md-12">
                <label for="cpf">CPF</label>
                <i class="fa fa-user"></i>
                <input class="form-control" type="text" ng-model="doar.cpf" placeholder="000.000.000-00" mask="999.999.999-99" mask-restrict="reject" mask-clean="true">
              </div>
              <div class="form-group icon-left icon-with-label col-md-12">
                <label for="email">E-mail</label>
                <i class="fa fa-user"></i>
                <input class="form-control" type="email" ng-model="doar.email">
              </div>
              <div class="form-group icon-left icon-with-label col-md-12">
                <label for="phone">Telefone</label>
                <i class="fa fa-user"></i>
                <input class="form-control" type="text" ng-model="doar.phone" mask="(99)d?9999-9999" mask-restrict="reject" mask-clean="true">
              </div>
              <div class="form-group icon-left icon-with-label col-md-12">
                <label for="birthdate">Data de nascimento</label>
                <i class="fa fa-user"></i>
                <input class="form-control" type="text" ng-model="doar.birthdate" placeholder="00/00/0000" mask="99/99/9999" mask-restrict="reject" mask-clean="false">
              </div>


              <!-- address -->
              <div class="form-group icon-left icon-with-label col-md-6">
                <label for="address_zipcode">CEP</label>
                <i class="fa fa-home"></i>
                <input class="form-control" type="text" name="address_zipcode" ng-model="doar.address_zipcode"  ng-blur="address_by_zipcode($event)" placeholder="00000-000" mask="99999-999" mask-restrict="reject" mask-clean="false">
                <span class="help-block">
                  Não sabe seu <code>CEP</code>? <a target="_blank" href="http://www.buscacep.correios.com.br/sistemas/buscacep/">Clique aqui</a>
                </span>
              </div>
              <div class="form-group icon-left icon-with-label col-md-6">
                <label for="address_state">Estado</label>
                <i class="fa fa-home"></i>
                <input class="form-control" type="text" name="address_state" ng-model="doar.address_state" placeholder="" disabled>
              </div>

              <div class="form-group icon-left icon-with-label col-md-12">
                <label for="address_city">Cidade</label>
                <i class="fa fa-home"></i>
                <input class="form-control" type="text" name="address_city" ng-model="doar.address_city" disabled>
              </div>
              <div class="form-group icon-left icon-with-label col-md-12">
                <label for="address_street">Endereço</label>
                <i class="fa fa-home"></i>
                <input class="form-control" type="text" name="address_street" ng-model="doar.address_street" disabled>
              </div>
              <div class="form-group icon-left icon-with-label col-md-6">
                <label for="address_district">Bairro</label>
                <i class="fa fa-home"></i>
                <input class="form-control" type="text" name="address_district" ng-model="doar.address_district" disabled>
              </div>
              <div class="form-group icon-left icon-with-label col-md-6">
                <label for="address_house_number">Número</label>
                <i class="fa fa-home"></i>
                <input class="form-control" type="text" name="address_house_number" ng-model="doar.address_house_number" mask="d" 
                mask-repeat="5" mask-restrict="reject" mask-validate="false" mask-clean="true">
              </div>
              <div class="form-group icon-left icon-with-label col-md-12">
                <label for="address_complement">Complemento</label>
                <i class="fa fa-home"></i>
                <input class="form-control" type="text" name="address_complement" ng-model="doar.address_complement">
              </div>


              <!-- billing address -->
              <div class="form-group col-md-12">
                <h3 class="text-success">
                  Endereço de cobrança
                </h3>
                <small class="help-block">O endereço de cobrança deve ser o mesmo que você informou quando fez o seu cartão. Esse endereço é importante para o sistema antifraude.</small>
                <p id="same_billing_panel">
                  <label>
                    <input type="checkbox" name="same_billing" ng-click="same_billing_addr($event)" checked> Utilizar mesmo endereço declarado acima
                  </label>
                </p>

              </div>
              <div id="billing_address" class="hide">
                <div class="form-group icon-left icon-with-label col-md-6">
                  <label for="billing_address_zipcode">CEP</label>
                  <i class="fa fa-home"></i>
                  <input class="form-control" type="text" name="billing_address_zipcode" ng-model="doar.billing_address_zipcode"  ng-blur="billing_by_zipcode($event)" placeholder="00000-000" mask="99999-999" mask-restrict="reject" mask-clean="false">
                  <span class="help-block">
                    Não sabe seu <code>CEP</code>? <a target="_blank" href="http://www.buscacep.correios.com.br/sistemas/buscacep/">Clique aqui</a>
                  </span>
                </div>
                <div class="form-group icon-left icon-with-label col-md-6">
                  <label for="billing_address_state">Estado</label>
                  <i class="fa fa-home"></i>
                  <input class="form-control" type="text" name="billing_address_state" ng-model="doar.billing_address_state" placeholder="" disabled>
                </div>

                <div class="form-group icon-left icon-with-label col-md-12">
                  <label for="billing_address_city">Cidade</label>
                  <i class="fa fa-home"></i>
                  <input class="form-control" type="text" name="billing_address_city" ng-model="doar.billing_address_city" disabled>
                </div>
                <div class="form-group icon-left icon-with-label col-md-12">
                  <label for="billing_address_street">Endereço</label>
                  <i class="fa fa-home"></i>
                  <input class="form-control" type="text" name="billing_address_street" ng-model="doar.billing_address_street" disabled>
                </div>
                <div class="form-group icon-left icon-with-label col-md-6">
                  <label for="billing_address_district">Bairro</label>
                  <i class="fa fa-home"></i>
                  <input class="form-control" type="text" name="billing_address_district" ng-model="doar.billing_address_district" disabled>
                </div>
                <div class="form-group icon-left icon-with-label col-md-6">
                  <label for="billing_address_house_number">Número</label>
                  <i class="fa fa-home"></i>
                  <input class="form-control" type="text" name="billing_address_house_number" ng-model="doar.billing_address_house_number" mask="d" 
                  mask-repeat="5" mask-restrict="reject" mask-validate="false" mask-clean="true">
                </div>
                <div class="form-group icon-left icon-with-label col-md-12">
                  <label for="billing_address_complement">Complemento</label>
                  <i class="fa fa-home"></i>
                  <input class="form-control" type="text" name="billing_address_complement" ng-model="doar.billing_address_complement" >
                </div>
              </div>


              <!-- credit card -->
              <div class="form-group icon-left icon-with-label col-md-12">
                <h3 class="text-success">Dados do cartão</h3>
              </div>
              <label for="amount" class="hide">Valor</label>
              <div class="form-group icon-left icon-with-label col-md-12">
                <label for="credit_card_name">Nome do Cartão</label>
                <i class="fa fa-creditcard"></i>
                <input class="form-control" type="text" name="credit_card_name" ng-model="doar.credit_card_name">
                <small class="help-block">O nome deve ser o mesmo impresso no cartão de crédito</small>
              </div>
              <div class="form-group icon-left icon-with-label col-md-12">
                <label for="card_number">Número do Cartão <span id="card-image"></span></label>
                <i class="fa fa-creditcard"></i>
                <input class="form-control" type="text" ng-model="payment.card_number" ng-keyup="get_brand(payment.card_number)" placeholder="0000 0000 0000 0000" mask="d" 
                mask-repeat="40" mask-restrict="reject" mask-validate="false" mask-clean="true">
              </div>
              <div class="form-group icon-left icon-with-label col-md-4">
                <label for="card_month">Mês</label>
                <select name="" class="form-control" ng-model="payment.card_month">
                  <option ng-repeat="m in month_list" value="{{m}}">{{m}}</option>
                </select>
              </div>
              <div class="form-group icon-left icon-with-label col-md-4">
                <label for="card_year">Ano</label>
                <select name="" class="form-control" ng-model="payment.card_year">
                  <option ng-repeat="m in year_list" value="{{m}}">{{m}}</option>
                </select>
              </div>
              <div class="form-group icon-left icon-with-label col-md-4">
                <label for="card_cvv">Código de Segurança</label>
                <input class="form-control" type="text" ng-model="payment.card_cvv" placeholder="">
              </div>

              <div class="form-group col-md-12">
                <h5>Cartões de crédito suportados:</h5>
                <p><%= image_tag "/images/candidatos/cartoes-credito.png", alt: "Imagem bandeiras de cartões suportados" %></p>
              </div>

              <div class="form-group col-md-12">
                 Ao fazer a doação declaro­me de acordo com os <%= link_to 'termos de uso e políticas de privacidade', '#', :target => '_blank', 'data-toggle' => "modal", 'data-target' => "#termos_modal" %> do Voto Legal. 
              </div>

              <div class="form-group col-md-12">
                <p>Esta transação é realizada através de canais seguros criptografados.</p>
              </div>

              <div class="form-group col-md-12 hide">
                <label class="checkbox-inline">
                  <input type="checkbox"  value="1"> Permito que meu e­mail fique visível ao candidato.
                </label>
              </div>
              <div class="form-group text-center col-md-12">
                <button id="btn-donate" class="btn btn-success btn-lg" type="submit">Efetuar doação</button>
              </div>
              <div class="form-group text-center col-md-12">
                <div ng-show="error_list.length > 0" style="border: 2px solid rgb(234, 53, 53); color:rgb(234, 53, 53); padding: 10px 15px; border-radius: 5px;" class="error-panel">
                  <h4>Os seguintes campos precisam ser corrigidos:</h4>
                  <ul ng-repeat="error in error_list" style="margin: 0px; list-style-type: square; padding: 0px 0px 0px 40px;" class="ng-scope text-left">
                    <li>{{error}}</li>
                  </ul>
                </div>
              </div>
            </div>

          <% end %>

        </div>

        <!-- right side panel -->
        <div class="col-md-4 col-sm-4">
          <div id="amount-review" class="side-panel reg-doa-side-p hide">
            <p><strong class="reg-doa-title">VALOR DA DOAÇÃO</strong></p>
            <p class="reg-doa-amount-big">{{doar.amount | currency}} <a class="pull-right" ng-click="doar_edit()">Editar</a></p>
          </div>
          <br class="divider">
          <div class="side-panel reg-doa-side-p">

            <div class="regra-doa-container">
                <div class="espac-icone-danger">
                  <i class="fa flaticon-information-button"></i>
                </div>
                <div class="espac-regra-txt">
                  O limite é de 10% de seus rendimentos brutos declarados no Imposto de Renda 2015.
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="regra-doa-container">
                <div class="espac-icone-danger">
                  <i class="fa flaticon-information-button"></i>
                </div>
                <div class="espac-regra-txt">
                  Caso a declaração de imposto de renda seja realizada como isento, o limite é de R$ 2.812,39. Se você declarou qualquer valor de rendimento bruto no imposto de renda em 2015, mesmo que abaixo do limite da isenção, o máximo que você pode doar é 10% do declarado. Porém o limite máximo de doação via cartão de crédito é de R$ 1.064,10.
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="regra-doa-container">
                <div class="espac-icone-danger">
                  <i class="fa flaticon-information-button"></i>
                </div>
                <div class="espac-regra-txt">
                  É obrigatório declarar no imposto de renda a doação. Existe uma seção específica chamada: Doações para Partidos Políticos, Comitês Financeiros e Candidatos a Cargos Eletivos. Basta informar o nome e o CNPJ do candidato para quem a doação foi realizada.
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="regra-doa-container">
                <div class="espac-icone-danger">
                  <i class="fa flaticon-information-button"></i>
                </div>
                <div class="espac-regra-txt">
                  Todo doador deve ser brasileiro, maior de idade, não possuir nenhuma concessão de serviço público e ter o CPF em situação regular junto a Receita Federal Brasileira, e ser proprietário do cartão de crédito sendo que não pode ser um cartão de crédito corporativo.
                </div>
                <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
  <!-- Modal -->
  <div class="modal fade" id="termos_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width:80%">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Termos de uso</h4>
        </div>
        <div class="modal-body">
          <%= partial 'partial/termo_de_uso' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
