---
title: Histórico de doações
---

<section id="historico-doacoes" ng-controller="DonationHistoryController">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="page-title">Histórico de transações</h1>
			</div>

			<div class="col-md-6">
				<div class="dropdown">
					<button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
						Baixar como...
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<li><a href="{{download.csv_file()}}" target="_blank">Arquivo CSV (.csv)</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<a class="btn btn-default btn-sm pull-right" href="/cadastro-completo/">Voltar ao inicio</a>
			</div>

			<div class="col-md-12" style="margin-top:20px;">

				<div class="table-responsive">
					<div id="donations-table" class="hide">
						<at-pagination at-config="config" at-list="donations"></at-pagination>
						<table class="table table-striped table-bordered" at-table at-list="donations" at-config="config" at-paginated>
							<thead>
							</thead>
							<tbody>
								<tr class="text-center">
									<td at-implicit at-attribute="name" at-title="Nome"></td>
									<td at-attribute="cpf" at-title="CPF">
										<a href="https://www.receita.fazenda.gov.br/Aplicacoes/SSL/ATCTA/CPF/ConsultaPublica.asp" target="_blank" title="Consultar este CPF">{{ item.cpf | brCpf }}</a>
									</td>
									<td at-attribute="email" at-title="E-mail">
										<a href="mailto:{{item.email}}" ng-if="item.email" title="Enviar email para o doador">{{ item.email }}</a>
									</td>
									<td at-attribute="pgone" at-title="Telefone">{{ item.phone ? ( item.phone | brPhoneNumber) : '-' }}</td>
									<td at-attribute="address" at-title="Endereço">
										{{ item.address_street || '-' }}{{ item.address_house_number ? ' ,' + item.address_house_number : '' }}
										{{ item.address_complement ? ' - ' + item.address_complement : '' }}
										{{ item.address_district ? ' - ' + item.address_district : '' }}
										{{ item.address_city ? ' - ' + item.address_city : '' }}
										{{ item.address_state ? ' - ' + item.address_state : '' }}{{ item.address_zipcode ? ', ' + (item.address_zipcode | brCep) : '' }}
									</td>
									<td at-attribute="birthday" at-title="Nascimento">{{ item.birthday || '-' }}</td>
									<td at-attribute="method" at-title="Método">{{ item.payment_method_human }}</td>
									<td at-attribute="amount" at-title="Valor">
										{{item.amount ? (item.amount | finance: 'R$' ) : '-' }}
									</td>
									<td at-attribute="transaction_link" at-title="Blockchain" class="text-center">
										<a href="{{ item.transaction_link }}" ng-if="item.transaction_link" target="_blank"><i class="fa fa-link"></i></a>
										<span ng-else>-</span>
									</td>
									<td at-attribute="created_at_human" at-title="Data">
										{{ item.created_at_human || '-' }}
									</td>
									<td at-attribute="captured_at" at-title="Compensação bancária">
										{{ item.captured_at ? ( item.captured_at | date:'dd/MM/yyyy hh:mm:ss') : '-' }}
									</td>
									<%# <td at-attribute="document_number" at-title="Número do Documento">{{ item.document_number }}</td> %>
									<%# <td at-attribute="authorization_number" at-title="Número da Autorização">{{ item.authorization_number }}</td> %>
								</tr>
							</tbody>
						</table>
						<at-pagination at-config="config" at-list="donations"></at-pagination>
					</div>

					<div id="loading-donations" class="text-center">
						<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw text-success" style="opacity:0.6"></i>
						<p class="text-success">Carregando</p>
					</div>

					<div class="carrega-mais-hist-container hide">
						<button id="carrega-mais-hist" class="btn btn-default">Carregar mais</button>
					</div>
				</div>
			</div>

		</div>
	</div>

</section>

