---
title: Pagamento
---
<section id="pre-register">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="nav-links-register">
					<br class="divider">
					<p class="nav-link-process nav-link-sucess">Pré-cadastro</p>
					<p class="nav-link-process nav-link-sucess">Contrato</p>
					<p class="nav-link-process nav-link-active">Pagamento</p>
					<p class="nav-link-process">Análise de pagamento</p>
				</div>
			</div>
		</div>
	</div>

	<div ng-controller="PaymentController">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
						<h1 class="page-title">Pagamento</h1>
						<h2 class="page-subtitle">Pré-campanha</h2>

						<p class="pre-head">
							Nesta fase você deve inserir os dados financeiros para pagamento da plataforma. Esta etapa deve ser realizada obrigatoriamente
							com a concordância e ciência do pré-candidato.
							<strong>Importante: os dados para pagamento da plataforma, tanto no cartão ou no boleto bancário, devem ser do pré-candidato.</strong>
						</p>
				</div>
			</div>

			<div class="row" ng-if="candidate.amount">
				<div class="col-md-6">
					<div class="value-payment">
						<p class="value-payment__intro">
							Valores pré&#8209;campanha:
						</p>
						<ul>
							<li class="value-payment__setup">
								<span class="value-payment__value" ng-cloak>
									<span class="value-payment__currency">R$</span>{{candidate.amount}}
								</span>
								<span class="value-payment__info">Parcela única para setup</span>
							</li>
						</ul>
					</div>
					<div class="value-fees">
						<ul>
							<li class="value-payment__fee">
								<span class="value-payment__info__title">
									+ Taxas administrativas por doação:
								</span>
								<span class="value-payment__info">7,4% via cartão de crédito</span>
								<span class="value-payment__info">4% + R$4 via boleto</span>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<form name="pagamento" id="pagamento" novalidate ng-submit="submit(pagamento.$valid, pagamento)">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="form-group">
									<input class="form-control" name="name" data-name="Nome" ng-model="candidate.name" type="text" placeholder="*Nome" required>
									<label ng-if="pagamento.name.$error.required  && pagamento.$submitted" style="margin: 10px 0px; border: 2px solid rgb(234, 53, 53); color: rgb(234, 53, 53); padding: 5px 5px; border-radius: 5px;">O nome é obrigatório</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="form-group icon-left">
									<i class="fa fa-envelope"></i>
									<input class="form-control " type="email" name="email" ng-model="candidate.email" type="text" [ng-pattern]="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
										placeholder="*E-mail" data-email="E-mail" required>
									<label ng-if="pagamento.email.$error.email && pagamento.$submitted" style="margin: 10px 0px; border: 2px solid rgb(234, 53, 53); color: rgb(234, 53, 53); padding: 5px 5px; border-radius: 5px;">E-mail inválido</label>
									<label ng-if="pagamento.email.$error.required && pagamento.$submitted" style="margin: 10px 0px; border: 2px solid rgb(234, 53, 53); color: rgb(234, 53, 53); padding: 5px 5px; border-radius: 5px;">E-mail é obrigatório</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input class="form-control" name="phone" ng-model="candidate.phone" type="text" placeholder="*Tel" mask="(99)99999-9999"
										required>
									<label ng-if="pagamento.phone.$error.mask  && pagamento.$submitted" style="margin: 10px 0px; border: 2px solid rgb(234, 53, 53); color: rgb(234, 53, 53); padding: 5px 5px; border-radius: 5px;">Telefone Inválido</label>
									<label ng-if="pagamento.phone.$error.required  && pagamento.$submitted" style="margin: 10px 0px; border: 2px solid rgb(234, 53, 53); color: rgb(234, 53, 53); padding: 5px 5px; border-radius: 5px;">O telefone é obrigatório</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group icon-left">
									<i class="fa fa-home"></i>
									<input class="form-control" name="zipCode" ng-model="candidate.zipCode" type="text" placeholder="*Cep" ng-blur="cepRequest()"
										mask="99999-999" required>
									<span class="help-block">Não sabe seu
										<code>CEP</code>?
										<a class="" target="_blank" href="http://www.buscacep.correios.com.br/sistemas/buscacep/">Clique aqui</a>
									</span>
									<label ng-if="pagamento.zipCode.$error.mask  && pagamento.$submitted" style="margin: 10px 0px; border: 2px solid rgb(234, 53, 53); color: rgb(234, 53, 53); padding: 5px 5px; border-radius: 5px;">CEP Inváido</label>
									<label ng-if="pagamento.zipCode.$error.required  && pagamento.$submitted" style="margin: 10px 0px; border: 2px solid rgb(234, 53, 53); color: rgb(234, 53, 53); padding: 5px 5px; border-radius: 5px;">O CEP é obrigatório</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group icon-left">
									<i class="fa fa-home"></i>
									<input class="form-control" name="addressState" ng-model="candidate.addressState" type="text" placeholder="Estado" required ng-disabled="disabledFields.addressState">
									<label ng-if="pagamento.addressState.$error.required  && pagamento.$submitted" style="margin: 10px 0px; border: 2px solid rgb(234, 53, 53); color: rgb(234, 53, 53); padding: 5px 5px; border-radius: 5px;">O Estado é obrigatório</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group icon-left">
									<i class="fa fa-home"></i>
									<input class="form-control" name="addressCity" ng-model="candidate.addressCity" type="text" placeholder="Cidade" required ng-disabled="disabledFields.addressCity">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group icon-left">
									<i class="fa fa-home"></i>
									<input class="form-control" name="addressDistrict" ng-model="candidate.addressDistrict" type="text" placeholder="Bairro" required ng-disabled="disabledFields.addressDistrict">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-8">
								<div class="form-group icon-left">
									<i class="fa fa-home"></i>
									<input class="form-control" name="addressStreet" ng-model="candidate.addressStreet" type="text" placeholder="Rua" required ng-disabled="disabledFields.addressStreet">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group icon-left">
									<i class="fa fa-home"></i>
									<input class="form-control" name="addressHouseNumber" ng-model="candidate.addressHouseNumber" type="text" placeholder="Número"
										required>
									<label ng-if="pagamento.addressHouseNumber.$error.required && pagamento.$submitted" style="margin: 10px 0px; border: 2px solid rgb(234, 53, 53); color: rgb(234, 53, 53); padding: 5px 5px; border-radius: 5px;">O número do endereço é obrigatório</label>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<h3>Escolha uma forma de pagamento</h3>
							</div>
							<div class="payment-type">
								<div class="col-xs-6">
									<input type="radio" name="typePayment" value="boleto" ng-model="paymentMethod" required ng-click="manageCondition(pagamento.typePayment)"> Boleto
								</div>
								<div class="col-xs-6">
									<input type="radio" name="typePayment" value="creditCard" ng-model="paymentMethod" required ng-click="manageCondition(pagamento.typePayment)"> Cartão de crédito
								</div>
								<div class="col-md-12">
									<small ng-if="pagamento.typePayment.$error.required && pagamento.$submitted" class="field-error-message" ng-cloak>Escolha a forma de pagamento</small>
								</div>
							</div>
							<div class="credit-card-method" ng-if="paymentMethod === 'creditCard'" ng-cloak>
								<div class="col-md-12">
									<h3>Dados do cartão de crédito</h3>
								</div>
								<div class="clearfix">
									<div class="form-group icon-left col-md-6">
										<i class="fa fa-credit-card"></i>
										<input class="form-control " name="cardName" ng-model="candidate.card.name" ng-required="paymentMethod === 'creditCard'"
										type="text" placeholder="Nome impresso no Cartão">

										<small ng-show="pagamento.cardName.$error.required && (pagamento.$submitted || pagamento.cardName.$touched)" class="field-error-message">
											O nome do detentor do cartão é obrigatório
										</small>
									</div>
									<div class="form-group icon-left col-md-6">
										<i class="fa fa-credit-card"></i>
										<input class="form-control  " name="cardNumber" data-cardNumber="Número do cartão" ng-model="candidate.card.cardNumber" ng-required="paymentMethod === 'creditCard'"
											type="text" placeholder="Número do cartão" mask="9999 9999 9999 999?9?" ng-change="validateCreditCardNumber(); validateCreditCardBrand();">

										<div ng-show="pagamento.$submitted || pagamento.cardNumber.$touched">
											<small ng-show="pagamento.cardNumber.$error.required" class="field-error-message">
												O número do cartão é obrigatório
											</small>
											<small ng-show="!pagamento.cardNumber.$error.required && !pagamento.cardNumber.$error.creditCardInvalidBrand && (pagamento.cardNumber.$error.creditCardInvalid || pagamento.cardNumber.$error.mask)"
											class="field-error-message">
												Número inválido
											</small>
											<small ng-show="!pagamento.cardNumber.$error.required && !pagamento.cardNumber.$error.mask && pagamento.cardNumber.$error.creditCardInvalidBrand"
											class="field-error-message">
												Bandeira inválida. As bandeiras suportadas são "visa", "mastercard", "amex", "diners" e "elo"
											</small>
										</div>
									</div>
								</div>

								<div class="clearfix">
									<div class="form-group icon-left col-xs-6">
										<i class="fa fa-credit-card"></i>
										<input class="form-control" name="monthCardExpire" data-monthCardExpire="Mês que o cartão expira" ng-model="candidate.card.monthCardExpire"
										type="tel" placeholder="Mês de vencimento" min="01" max="12" mask="19" ng-required="paymentMethod === 'creditCard'" ng-change="validateCreditCardExpirationDate()">

										<div ng-show="pagamento.$submitted || pagamento.monthCardExpire.$touched">
											<small ng-show="pagamento.monthCardExpire.$error.required"class="field-error-message">
												O mês de validade do cartão é obrigatório
											</small>
											<small ng-show="!pagamento.monthCardExpire.$error.required && pagamento.monthCardExpire.$error.mask" class="field-error-message">
												O mês de validade do cartão é inválido
											</small>
											<small ng-show="!pagamento.monthCardExpire.$error.required && (pagamento.monthCardExpire.$error.min || pagamento.monthCardExpire.$error.max)" class="field-error-message">
												Os números devem estar entre 1 e 12
											</small>
										</div>
									</div>

									<div class="form-group icon-left col-xs-6">
										<i class="fa fa-credit-card"></i>
										<input class="form-control" name="yearCardExpire" data-yearCardExpire="Ano que o cartão expira" ng-model="candidate.card.yearCardExpire" type="tel" min="{{ currentYear }}" placeholder="Ano de vencimento" mask="9999" ng-required="paymentMethod === 'creditCard'" ng-change="validateCreditCardExpirationDate()">

										<div ng-show="pagamento.$submitted || pagamento.yearCardExpire.$touched">
											<small ng-show="pagamento.yearCardExpire.$error.required" class="field-error-message">
												O ano de validade do cartão é obrigatório
											</small>
											<small ng-show="!pagamento.yearCardExpire.$error.required && pagamento.yearCardExpire.$error.mask" class="field-error-message">
												O ano de validade do cartão é inválido
											</small>
											<small ng-show="!pagamento.yearCardExpire.$error.required && pagamento.yearCardExpire.$error.min" class="field-error-message">
												O ano de validade do cartão deve ser a partir de {{currentYear}}
											</small>
										</div>

									</div>
									<div class="col-xs-12" ng-show="pagamento.$submitted || (pagamento.monthCardExpire.$touched && pagamento.yearCardExpire.$touched)">
										<small ng-show="!pagamento.monthCardExpire.$error.required && !pagamento.yearCardExpire.$error.required && !pagamento.yearCardExpire.$error.mask && !pagamento.yearCardExpire.$error.min && (pagamento.yearCardExpire.$error.creditCardInvalidDate)" class="field-error-message">
											Data inválida
										</small>
									</div>
								</div>

								<div class="clearfix">
									<div class="form-group icon-left col-md-4">
										<i class="fa fa-credit-card"></i>
										<input class="form-control" name="cvvCard" ng-model="candidate.card.cvvCard" type="text" mask="9999?" placeholder="Cód. de segurança"
											ng-required="paymentMethod === 'creditCard'" ng-change="validateCreditCardCvv()">

										<div ng-show="pagamento.$submitted || pagamento.cvvCard.$touched">
											<small ng-show="pagamento.cvvCard.$error.required" class="field-error-message">
												O código de segurança é obrigatório
											</small>

											<small ng-show="!pagamento.cvvCard.$error.required && pagamento.cvvCard.$error.creditCardInvalidCvv" class="field-error-message">
												O código de segurança é inválido
											</small>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group col-xs-12 boleto-method" ng-if="paymentMethod === 'boleto'" ng-cloak>

								<a href="{{boletoUrl}}" target="_blank" class="btn btn-success btn-lg btn-block alert alert-warning " ng-if="boletoUrl.length> 0"
									ng-click="redirectBoleto()">Imprimir boleto </a>

							</div>
							<div class="col-xs-12" ng-cloak>

								<label ng-if="error.length > 0 " style="margin: 10px 0px; border: 2px solid rgb(234, 53, 53); color: rgb(234, 53, 53); padding: 5px 5px; border-radius: 5px; display:block; text-align:center;">{{error}} </label>

								<label ng-if="success.length > 0 " style="margin: 10px 0px; border: 2px solid #4cae4c; color: #4cae4c ; padding: 5px 5px; border-radius: 5px; display:block; text-align:center;">{{success}} </label>

								<label ng-if="mensagem_sucesso" style="margin: 10px 0px; border: 2px solid #4cae4c; color: #4cae4c ; padding: 5px 5px; border-radius: 5px; display:block; text-align:center;">{{mensagem_sucesso}} </label>

							</div>
							<div ng-show="errorListPaymentServer.length > 0" class="error-panel col-xs-12" ng-cloak>
								<h4>Os seguinte campos precisam ser corrigidos:</h4>
								<ul class="ng-scope">
									<li ng-repeat="error in errorListPaymentServer">{{ error.title || error }}</li>
								</ul>
							</div>

							<div class="col-xs-12" ng-cloak>
								<button class="register-submit loading" ng-if="loading" type="submit" ng-disabled="loading">
									<img src="../images/ajax-loader.gif" alt="">
								</button>

								<input class="register-submit" type="submit" value="enviar" ng-if="boletoUrl == null" ng-hide="loading">
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<!-- TODO: conditionally load payment gateway -->
<script type="text/javascript" src="https://js.iugu.com/v2"></script>
<script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
