---
title:  Pagamento
---
	<div class="row">
<div ng-controller="PaymentController" >

		<div class="col-md-offset-3 col-md-6">
				<h3>Formulário de pagamento</h3>
			<form>
				<input name="name" ng-model="user.name" type="text" placeholder="Nome" class="form-control ">
				<input name="email" ng-model="user.name" type="text" class="form-control " placeholder="E-mail">
				<input name="cpf" ng-model="user.name" type="text" class="form-control " placeholder="CPF">
				<input ng-click="sendPayment()" type="button" value=" enviar" class="btn btn-success btn-lg btn-block">
			</form>
	  </div>

</div>
</div>


