---
title:  Pagamento
---

<div class="container">
	<div class="row">
		<div ng-controller="PaymentController">

				<div class="col-md-12">
						<h3>Formulário de pagamento</h3>
					<form action="" class="pagamento">
						<div class="row"></div>
						<div class="form-group">
							<input class="form-control  col-md-12 col-sm-12 col-xs-12" name="name" ng-model="userCardData.name" type="text" placeholder="Nome" required>
						</div>
						<div class="form-group">
						<input class="form-control  col-md-12 col-sm-12 col-xs-12" name="email" ng-model="userCardData.email" type="text" placeholder="E-mail" required>

						</div>
						<div class="form-group">
							<input class="form-control  col-md-12 col-sm-12 col-xs-12" name="cpf" ng-model="userCardData.cpf" type="text" placeholder="CPF" required>

						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input class="form-control  col-md-6" ng-model="userCardData.cardNumber" type="text" placeholder="Número do cartão" required>
								</div>
								<div class="form-group">
							<input class="form-control  col-md-3" ng-model="userCardData.monthCardExpire" type="text" placeholder="Mês que o cartão expira" required>

								</div>

								<div class="form-group">
							<input class="form-control  col-md-3" ng-model="userCardData.yearCardExpire" type="text" placeholder="Ano que o cartão expira" required>

								</div>
								<div class="form-group">
								<input class="form-control  col-md-3" ng-model="userCardData.cvvCard" type="text" placeholder="Código de segurança" required>

								</div>
							</div>
						</div>
						<div class="form-group">
							<input class="btn btn-success btn-lg btn-block" ng-click="brandCards()" type="button" value="enviar">
						</div>
					</form>
			</div>

		</div>
	</div>


</div>

