---
title:  Contrato
---


<section id="termos" ng-controller="ContractController">
  <div class="container">
	<div class="row">
		<section id="pre-register">
		<div class="container">
			<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<br class="divider">
				<span class="badge badge-status badge-default">Pré-cadastro</span>
				<span class="badge badge-status badge-default badge-success">Contrato</span>
				<span class="badge badge-status badge-default ">Pagamento</span>
				<span class="badge badge-status badge-default">Análise de pagamento</span>
		</div>
	</section>
      <div class="col-md-12 text-center">
        <h1 class="page-title">Termos de uso</h1>
	  </div>
	  <p>Pré-candidato, faça parte do Voto Legal. Para receber doações de pessoas físicas, faça o pré-cadastro abaixo.</p>
	  <div class="col-md-offset-3 col-md-6">
	  <p>
		 Seja bem-vindo ao Voto legal. Realize o passo a passo para iniciar a contratação da plataforma. Importante: Todos os dados
		para contratação devem ser do pré-candidato, estando vedada a contratação em nome de terceiros. Se houver divergências ou
		inconformidades das informações, os valores arrecadados poderão ser devolvidos aos doadores ou tesouro nacional.

	  </p>
	  </div>

      <div class="col-md-12">
		<br class="divider">
			<%= partial 'partial/contrato' %>
      </div>
    </div>
  </div>
</section>

