---
title:  Contrato
---

<section id="termos" ng-controller="ContractController">

	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="nav-links-register">
					<br class="divider">
					<p class="nav-link-process nav-link-sucess">Pré-cadastro</p>
					<p class="nav-link-process nav-link-active">Contrato</p>
					<p class="nav-link-process">Pagamento</p>
					<p class="nav-link-process">Análise de pagamento</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<br class="divider">
				<%= partial 'partial/contrato'%>

				<form action="" class="contract-form">
					<input type="checkbox" name="" id="" ng-model="confirmContract" class="contract-ckeck">
					<b>Concordo.</b>

					<input type="button" value=" enviar" ng-click="confirm()" class="register-submit">
				</form>
				<div ng-if="error_list" ng-show="error_list.length > 0" style="margin: 30px 0px; border: 2px solid rgb(234, 53, 53); color: rgb(234, 53, 53); padding: 10px 15px; border-radius: 5px;"
					class="error-panel">
					<ul ng-repeat="error in error_list" style="margin: 0px; list-style-type: square; padding: 0px 0px 0px 40px;" class="ng-scope">
						<li>
						{{error.title}}
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>


</section>

