---
title:  Contrato
---


<section id="termos" ng-controller="ContractController">
  <div class="container">
	<div class="row">
		<section id="pre-register">
		<div class="container">
			<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<br class="divider">
				<span class="badge badge-status badge-default">Pré-cadastro</span>
				<span class="badge badge-status badge-default badge-success">Contrato</span>
				<span class="badge badge-status badge-default ">Pagamento</span>
				<span class="badge badge-status badge-default">Análise de pagamento</span>
		</div>
	</section>
      <div class="col-md-12 text-center">
        <h1 class="page-title">Termos de uso</h1>
      </div>
      <div class="col-md-12">
		<br class="divider">
			<%= partial 'partial/contrato' %>
      </div>
    </div>
  </div>
</section>

