---
title:  Termos
---


<section id="termos">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="page-title">Termos de uso</h1>
      </div>
      <div class="col-md-12">
		<br class="divider">
			<%= partial 'partial/contrato'%>
      </div>
    </div>
  </div>
</section>

