---
title:  Contrato
---

<section id="termos" ng-controller="ContractController">

	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="nav-links-register">
					<br class="divider">
					<p class="nav-link-process nav-link-sucess">Pré-cadastro</p>
					<p class="nav-link-process nav-link-active">Contrato</p>
					<p class="nav-link-process">Pagamento</p>
					<p class="nav-link-process">Análise de pagamento</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<br class="divider">
				<%= partial 'partial/contrato'%>
			</div>
		</div>
	</div>

</section>

