<section id="votacao-projetos" ng-controller="VotacaoProjetosController">
  <div class="container">
    <div class="row">
      <div class="confirma-doacao">
        <h2>Confirmado!</h2>
        <div class="c-d-mensagem-wrap">
          <strong>Doação confirmada!</strong><br>
          Sua doação para o candidato [Fulano] foi <br>
          confirmada com sucesso.
        </div>

      </div>
    </div>
  </div>
</section>
