

<section id="votacao-projetos" ng-controller="VotacaoProjetosController">
  <div class="container">
    <div class="row">
      <div class="confirma-doacao">
        <h2 class="confirmado-title">Confirmado!</h2>
        <hr class="depois-confirmado" />
        <div class="c-d-mensagem-wrap">
          <strong>Doação confirmada!</strong><br>
          Sua doação para o candidato [Fulano] foi <br>
          confirmada com sucesso.
        </div>

      </div>
      <div class="votacao-projetos-wrap">
        <div class="txt-explica-votacao">
          Vote em 3 projetos do candidato que mais lhe agrada
        </div>
        <div class="form-vota-prj-wrap">
          <div class="col-md-3 foto-candidato-wrap">
            <div class="cand-img-redondo">
              <img src="/images/mocks/user01.jpg" />
            </div>
          </div>
          <div class="col-md-9">
            <form class="votacao-projetos-form" id="votacao-projetos-form">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="painel panel-default container-proj">
                  <div class="panel-heading" id="heading-projeto-1">
                    <input type="checkbox"> Projeto 01) Lorem ipsum dolot sit amet <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="projeto-1" href="#projeto-1" class="collapsed colapsa-proj pull-right"><i class="fa fa-chevron-down"></i></a>
                  </div>
                  <div id="projeto-1" class="collapse in" role="tabpanel" aria-labelledby="heading-projeto-1">
                    <div class="panel-body">
                      Breve descrição lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet faucibus massa. Maecenas id cursus ante. Etiam varius tortor nisl. In pretium ante a metus elementum commodo. Maecenas sed sem porta, ullamcorper ipsum quis, congue ipsum. In hac habitasse platea dictumst. Etiam augue risus, interdum non consequat eu, ultricies non quam.
                    </div>
                  </div>
                </div>
                <div class="painel panel-default container-proj">
                  <div class="panel-heading" id="heading-projeto-2">
                    <input type="checkbox"> Projeto 02) Lorem ipsum dolot sit amet <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="projeto-2" href="#projeto-2" class="collapsed colapsa-proj pull-right"><i class="fa fa-chevron-down"></i></a>
                  </div>
                  <div id="projeto-2" class="collapse" role="tabpanel" aria-labelledby="heading-projeto-2">
                    <div class="panel-body">
                      Breve descrição lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet faucibus massa. Maecenas id cursus ante. Etiam varius tortor nisl. In pretium ante a metus elementum commodo. Maecenas sed sem porta, ullamcorper ipsum quis, congue ipsum. In hac habitasse platea dictumst. Etiam augue risus, interdum non consequat eu, ultricies non quam.
                    </div>
                  </div>
                </div>
                <div class="painel panel-default container-proj">
                  <div class="panel-heading" id="heading-projeto-3">
                    <input type="checkbox"> Projeto 03) Lorem ipsum dolot sit amet <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="projeto-3" href="#projeto-3" class="collapsed colapsa-proj pull-right"><i class="fa fa-chevron-down"></i></a>
                  </div>
                  <div id="projeto-3" class="collapse" role="tabpanel" aria-labelledby="heading-projeto-3">
                    <div class="panel-body">
                      Breve descrição lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet faucibus massa. Maecenas id cursus ante. Etiam varius tortor nisl. In pretium ante a metus elementum commodo. Maecenas sed sem porta, ullamcorper ipsum quis, congue ipsum. In hac habitasse platea dictumst. Etiam augue risus, interdum non consequat eu, ultricies non quam.
                    </div>
                  </div>
                </div>
                <div class="painel panel-default container-proj">
                  <div class="panel-heading" id="heading-projeto-4">
                    <input type="checkbox"> Projeto 04) Lorem ipsum dolot sit amet <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="projeto-4" href="#projeto-4" class="collapsed colapsa-proj pull-right"><i class="fa fa-chevron-down"></i></a>
                  </div>
                  <div id="projeto-4" class="collapse" role="tabpanel" aria-labelledby="heading-projeto-4">
                    <div class="panel-body">
                      Breve descrição lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet faucibus massa. Maecenas id cursus ante. Etiam varius tortor nisl. In pretium ante a metus elementum commodo. Maecenas sed sem porta, ullamcorper ipsum quis, congue ipsum. In hac habitasse platea dictumst. Etiam augue risus, interdum non consequat eu, ultricies non quam.
                    </div>
                  </div>
                </div>
                <div class="painel panel-default container-proj">
                  <div class="panel-heading" id="heading-projeto-5">
                    <input type="checkbox"> Projeto 05) Lorem ipsum dolot sit amet <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="projeto-5" href="#projeto-5" class="collapsed colapsa-proj pull-right"><i class="fa fa-chevron-down"></i></a>
                  </div>
                  <div id="projeto-5" class="collapse" role="tabpanel" aria-labelledby="heading-projeto-5">
                    <div class="panel-body">
                      Breve descrição lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet faucibus massa. Maecenas id cursus ante. Etiam varius tortor nisl. In pretium ante a metus elementum commodo. Maecenas sed sem porta, ullamcorper ipsum quis, congue ipsum. In hac habitasse platea dictumst. Etiam augue risus, interdum non consequat eu, ultricies non quam.
                    </div>
                  </div>
                </div>
                <div class="painel panel-default container-proj">
                  <div class="panel-heading" id="heading-projeto-6">
                    <input type="checkbox"> Projeto 06) Lorem ipsum dolot sit amet <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="projeto-6" href="#projeto-6" class="collapsed colapsa-proj pull-right"><i class="fa fa-chevron-down"></i></a>
                  </div>
                  <div id="projeto-6" class="collapse" role="tabpanel" aria-labelledby="heading-projeto-6">
                    <div class="panel-body">
                      Breve descrição lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet faucibus massa. Maecenas id cursus ante. Etiam varius tortor nisl. In pretium ante a metus elementum commodo. Maecenas sed sem porta, ullamcorper ipsum quis, congue ipsum. In hac habitasse platea dictumst. Etiam augue risus, interdum non consequat eu, ultricies non quam.
                    </div>
                  </div>
                </div>
                <div class="painel panel-default container-proj">
                  <div class="panel-heading" id="heading-projeto-7">
                    <input type="checkbox"> Projeto 07) Lorem ipsum dolot sit amet <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="projeto-7" href="#projeto-7" class="collapsed colapsa-proj pull-right"><i class="fa fa-chevron-down"></i></a>
                  </div>
                  <div id="projeto-7" class="collapse" role="tabpanel" aria-labelledby="heading-projeto-7">
                    <div class="panel-body">
                      Breve descrição lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet faucibus massa. Maecenas id cursus ante. Etiam varius tortor nisl. In pretium ante a metus elementum commodo. Maecenas sed sem porta, ullamcorper ipsum quis, congue ipsum. In hac habitasse platea dictumst. Etiam augue risus, interdum non consequat eu, ultricies non quam.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-verde-arvore">Votar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
