---
title:      Candidatos
---

<div class="header-filter">
  <h2>
    Filtre para encontrar seu candidato <i class="fa fa-chevron-down"></i>
  </h2>
</div>

<section id="explore">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="page-title">
          Candidatos
        </h1>
      </div>

      <style>
      </style>
      <%
        list = ['Marcelo Carlos Abraão', 'Eliseu Guilherme Silva', 'Kuiza Beatriz Soares', 'Ligia Maria Lemes']
      %>

      <div class="candidate-list">
        <% 3.times.each do %>
          <% 4.times.each do |id| %>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
              <div class="candidate-panel" onmouseover="this.querySelector('.candidate-infor').classList.add('open')" onmouseout="this.querySelector('.candidate-infor').classList.remove('open')"  style="background-image: url(/images/mocks/user0<%= id + 1 %>.jpg);">
                <!-- img src="/images/mocks/user0<%= id + 1 %>.jpg" alt="Joe Doe" -->
                <div class="candidate-infor">
                  <h4><%= list[id] %> <i class="fa fa-circle" style="font-size: 9px;"></i> PCdoB</h4>
                  <ul>
                    <li>Meio ambiente</li>
                    <li>Educação</li>
                    <li>Saúde</li>
                  </ul>
                  <p class="candidate-location">
                    <i class="fa fa-map-marker"></i> São Paulo
                  </p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 60%;">
                    </div>
                  </div>
                  <div class="col-md-6 text-left">
                    <span>108</span><br>
                    <small>Pessoas ja doaram</small>
                  </div>
                  <div class="col-md-6 text-right">
                    <span>R$ 190.321</span><br>
                    <small>Total arrecadado</small>
                  </div>

                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</section>

