---
title:      Candidatos
---

<div class="header-filter">
  <h2 class="hide">
    Filtre para encontrar seu candidato <i class="fa fa-chevron-down"></i>
  </h2>
  <div id="filters" class="container _hide">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <form action="/explore" method="get">
          <input type="text" name="q" class="form-control input-lg search-control bordered-control" placeholder="Procurar por nome, cidade, partido..." />
        </form>
      </div>
    </div>
  </div>
</div>

<section id="explore" ng-controller="ExploreController">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="page-title">
          Candidatos
        </h1>
      </div>

      <style>
      </style>

      <div class="candidate-list">


        <div class="col-md-3 col-sm-6 col-xs-12 text-center" ng-repeat="i in list">
          <div class="candidate-panel" onmouseover="this.querySelector('.candidate-infor').classList.add('open')" onmouseout="this.querySelector('.candidate-infor').classList.remove('open')" ng-click="redirect_to(i)"  style="background-image: url({{i.picture || '/images/candidatos/user_general.jpg' }});">
            <div class="candidate-infor">
              <h4>{{i.popular_name}} <i class="fa fa-circle" style="font-size: 9px;"></i> {{i.party.acronym}}</h4>
              <!-- ul>
                <li>Meio ambiente</li>
                <li>Educação</li>
                <li>Saúde</li>
              </ul -->
              <p class="candidate-location">
                <i class="fa fa-map-marker"></i> {{i.address_city}}
              </p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

