$class-change: (
	'theme--red': (
      'default': #a6090e,
	  'navbar-divider': '../images/candidatos/theme-red.png',

	  'footer': #7e0001,

	),
	'theme--blue': (
      'default':#2959aa,
	  'navbar-divider': '../images/candidatos/theme-blue.png',
	  'footer': #1c2e5c,

	),
);

@each $class-palette, $rules in $class-change {
  html.#{$class-palette} {

	.label.label-success {
		background-color: map-get($rules, 'default');

	}
	.reg-doa-side-p .reg-doa-title,
	.cidade.ng-binding{
		color: map-get($rules, 'default');

	}
	.valor-doa-container .valor-doa-txt-nbr .doar-txt{
		color: map-get($rules, 'default');

	}
	.doa-container-active{
		    border: 1px solid map-get($rules, 'default') !important;
	}
	a{
		color: map-get($rules, 'default');

	}
	.text-success {
		color: map-get($rules, 'default');
	}

	.navbar-divider {
		background-color: map-get($rules, 'default');
		background-image: url(map-get($rules, 'navbar-divider'));

	}
	.btn-donate:focus,
	.btn-donate:active,
	.btn-donate:hover{
		background-color: map-get($rules, 'default');

	}

	.btn-success {
		color: #fff;
		background-color: map-get($rules, 'default');
		border-color: map-get($rules, 'default');
	}
	section#candidate .candidate-tabs ul.nav-tabs li.active>a,
	section#candidate .candidate-tabs ul.nav-tabs li.active>a:focus,
	section#candidate .candidate-tabs ul.nav-tabs li.active>a:hover{
		border-top: 3px solid map-get($rules, 'default');

	}

	.candidate-header .nome-candidato .fa-circle{
		color: map-get($rules, 'default');

	}

	footer#footer {
		background-color: map-get($rules, 'footer');
	}

	.btn.btn-verde-doar {
		background-color: map-get($rules, 'default');
	}

	.icon-left i{
		color: map-get($rules, 'default');

	}

	.table thead {
		background-color: map-get($rules, 'default');

	}
	.pagination .active a {
		background-color: map-get($rules, 'default')!important;
		border-color: map-get($rules, 'default') !important;

	}
	.social-buttons ul li {
		background-color: map-get($rules, 'default');

	}
	section#candidate .candidate-tabs #tab-sobre i.fa-circle {

		color: map-get($rules, 'default');

	}



  }
}
