    /*
    Flaticon icon font: Flaticon
    Creation date: 17/06/2016 21:17
    */

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-alms:before { content: "\f100"; }
.flaticon-business:before { content: "\f101"; }
.flaticon-close-envelope:before { content: "\f102"; }
.flaticon-closed-envelope-circle:before { content: "\f103"; }
.flaticon-curriculum:before { content: "\f104"; }
.flaticon-curriculum-1:before { content: "\f105"; }
.flaticon-facebook-black-social-button-circle:before { content: "\f106"; }
.flaticon-graphic:before { content: "\f107"; }
.flaticon-home:before { content: "\f108"; }
.flaticon-id-card:before { content: "\f109"; }
.flaticon-info:before { content: "\f10a"; }
.flaticon-information-button:before { content: "\f10b"; }
.flaticon-internet:before { content: "\f10c"; }
.flaticon-link-symbol:before { content: "\f10d"; }
.flaticon-list:before { content: "\f10e"; }
.flaticon-list-1:before { content: "\f10f"; }
.flaticon-lock:before { content: "\f110"; }
.flaticon-magnifying-glass-finder:before { content: "\f111"; }
.flaticon-message:before { content: "\f112"; }
.flaticon-money:before { content: "\f113"; }
.flaticon-money-1:before { content: "\f114"; }
.flaticon-multimedia:before { content: "\f115"; }
.flaticon-nation:before { content: "\f116"; }
.flaticon-paper:before { content: "\f117"; }
.flaticon-phone-receiver:before { content: "\f118"; }
.flaticon-resume:before { content: "\f119"; }
.flaticon-sign-out-option:before { content: "\f11a"; }
.flaticon-social:before { content: "\f11b"; }
.flaticon-technology:before { content: "\f11c"; }
.flaticon-twitter-logo-in-circular-black-button:before { content: "\f11d"; }
    
    $font-Flaticon-alms: "\f100";
    $font-Flaticon-business: "\f101";
    $font-Flaticon-close-envelope: "\f102";
    $font-Flaticon-closed-envelope-circle: "\f103";
    $font-Flaticon-curriculum: "\f104";
    $font-Flaticon-curriculum-1: "\f105";
    $font-Flaticon-facebook-black-social-button-circle: "\f106";
    $font-Flaticon-graphic: "\f107";
    $font-Flaticon-home: "\f108";
    $font-Flaticon-id-card: "\f109";
    $font-Flaticon-info: "\f10a";
    $font-Flaticon-information-button: "\f10b";
    $font-Flaticon-internet: "\f10c";
    $font-Flaticon-link-symbol: "\f10d";
    $font-Flaticon-list: "\f10e";
    $font-Flaticon-list-1: "\f10f";
    $font-Flaticon-lock: "\f110";
    $font-Flaticon-magnifying-glass-finder: "\f111";
    $font-Flaticon-message: "\f112";
    $font-Flaticon-money: "\f113";
    $font-Flaticon-money-1: "\f114";
    $font-Flaticon-multimedia: "\f115";
    $font-Flaticon-nation: "\f116";
    $font-Flaticon-paper: "\f117";
    $font-Flaticon-phone-receiver: "\f118";
    $font-Flaticon-resume: "\f119";
    $font-Flaticon-sign-out-option: "\f11a";
    $font-Flaticon-social: "\f11b";
    $font-Flaticon-technology: "\f11c";
    $font-Flaticon-twitter-logo-in-circular-black-button: "\f11d";
