/**
* VotoLegal - http://votolegal.org.br
* author: @eokoeit
*/

/* text color */
$txt_color: #777;
$txt_black: #000;

/* background color */
$bg_color: #fff; 

/* font defaults */
@mixin font-normal() {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
}
@mixin font-light() {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
}
@mixin font-bold() {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 700;
}


html {
  @include font-normal();
}

body {
  @include font-normal();
  color: $txt_color;
  padding-top: 20px;
  background-color: $bg_color;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/* navbar styles */
nav.navbar {
  margin-bottom: 0px !important;
}

nav.navbar-votolegal { 
  /* debug */
  border: none;
  border-radius: 0px;

  a.navbar-brand {
      float: left;
      height: 50px;
      padding: 0px;
      line-height: 20px;
  }

  .open {
    border-top: solid 1px #ccc !important;
    border-left: solid 1px #ccc !important;
    border-right: solid 1px #ccc !important;

    a {
      color: #4daa59;
    }
  }
  .dropdown {
    background-color: transparent;
    border:solid 1px transparent;

    a {
      color: #4daa59;
      font-weight: bold;
      background-color: transparent;
    }

    a:focus, 
    a:hover {
      color: #4daa59;
      background-color: transparent;
    }
    ul.dropdown-menu {
      right: 0;
      left: 0;
      margin: 0px -1px;
      border-radius: 0px;
      border-top: solid 1px transparent;
      border-left: solid 1px #ccc;
      border-right: solid 1px #ccc;

      li {
        padding: 5px 5px;

        a {
          padding: 0px;
        }
      }
    }
  }

  li > a {
    color: $txt_color;
    background-color: transparent;
  }
  li > a:focus,  li > a:hover {
    color: $txt_color;
    background-color: transparent;
  }
}

.navbar-divider {
  height: 10px;
  margin-top:10px;
  background-color: #62d35d;
  background-image: url(../images/home/barra.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* $max-screen: 'max-device-width'; */
$max-screen: 'max-device-width';
$max-screen: 'max-device-width';
$min-screen: 'min-device-width';

/* header & slider style*/
header.cover {
  .carousel-caption {
    top: 30%;
    @media all and ($max-screen : 480px) {
      top: -30px !important;
    }
    @media all and ($min-screen : 480px) and ($max-screen : 800px) {
      top: 0% !important;
    }

    h2 {
      font-size: 42px;
      @media all and ($max-screen : 480px) {
        font-size: 20px !important;
      }
    }
    p {
      margin-top: 8%;

      a {
        width: 70%;
        font-size: 24px;
      }
    }
  }

  .carousel-indicators {
    left: auto;
    width: 10%;
    margin-left: 0%;
    right: 5%;
    bottom: 20px;

    @media all and ($min-screen : 436px) and ($max-screen : 800px) {
      width: 20%;
    }

    li {
      margin: 0px 5px;
      border: none;
      background-color: #fff;
    }

    .active {
      width: 10px;
      height: 10px;
      margin: 0px 5px;
      background-color: #70ca81 !important;
    }
  }
}

section {
  padding: 75px 0px;
  @media all and ($max-screen : 480px) {
    padding: 0px 0px;
  }
}

section#howto-works {
  ul.howto-works-timeline {
    padding: 0px;

    /* horizontal bar */
    @media all and ($min-screen: 768px) {
      &::before {
        left: 0;
        position: absolute;
        content: " ";
        width:80%;
        height: 2px;
        background-color: #e5e5e5;
        top: 10px;
        z-index: -1;
        margin-left: 15px;
      }
    }

    li {
      width: 20%;
      float: left;
      list-style: none;

      @media all and ($max-screen : 768px) {
        width: 100%;
      }
    }
    
    .active {
      .howto-works-pill {
        @media all and ($max-screen : 768px) {
          text-align: center;
        }
        a { border-color: #3fb82c; }
      }
      .howto-works-text {
        color: #444;
      }
    }

    .howto-works-pill {
      @media all and ($max-screen : 768px) {
        text-align: center;
        background-color: #fff;
      }

      a { 
        width: 14px;
        height: 14px;
        border-radius: 30px;
        border: solid 5px #c6c6c6;
        background-color: #fff !important;
        padding: 0px 10px;
        z-index: 10;
        cursor: default;

        @media all and ($max-screen : 768px) {
          display: inline-block;
          width: 15px;
          height: 15px;
          text-indent: -999px;
          cursor: pointer;
          background-color: #000;
          background-color: rgba(0,0,0,0);
          border: 3px solid #c6c6c6;
          border-radius: 10px;
          padding: 0px;
        }

        &:hover {
          text-decoration: none;
        }
      }

      &:last-child {
        background-color: #fff;
      }
    }
    .howto-works-text {
      font-weight: bold;
      color: #a1a1a1;
      padding-right: 20px;
      cursor: default;


      @media all and ($max-screen : 480px) {
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }

}

/* media styles */
section#media {
  padding: 40px 0px;
  background: linear-gradient( #e5e5e5, #ffffff);

  @media all and ($max-screen : 991px) {
    text-align: center;
  }

  h2 { color: #999999 }

  img {
    border: none;
    background-color: transparent !important;

    .img-thumbnail {
      border: none;
    }
  }
  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
    background-repeat: no-repeat;
    opacity: 1;
  }
  .carousel-control.left {
    background-image: url(../images/home/before.png);
    background-position: left center;
  }
  .carousel-control.right {
    background-image: url(../images/home/after.png);
    background-position: right center;
  }
}

/* footer style */
footer#footer {
  color: #ffffff;
  font-size: 12px;
  padding: 50px 0px;
  background-color: #29673e;

  a {
    color: #ffffff;

    &:hover {
      color: #68ff6e;
      text-decoration: none;
    }
  }

  h4 {
    color: #34cb64;
    font-size: 16px;
  }

  .social-buttons {
    text-align: center;

    h4 {
      color: #fff;
      font-size: 14px;
      font-weight: bolder;
    }

    ul {
      margin: 0px;
      padding: 0px;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      list-style: none;

      li {
        float: left;
        width: 40px;
        height: 40px;
        margin: 2px;
        line-height: 45px;
        background-color: #43ac45;
        padding-top: 3px;
        border-radius: 30px;
        
        a {
          color: #ffffff;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }

  .copyright {
    text-align: center;
    margin: 40px 0px;
  }
}

section#pre-register {
  p {
    margin-bottom: 30px;
  }
  img {
    margin-bottom: 20px;
  }
}

section#register-docs {
  ul {
    list-style: outside none none;
    padding: 0px;

    i {
      color: #63d35c;
      margin-right: 15px;
    }
  }
}

section#about {
  @media all and ($max-screen : 480px) {
    text-align: center;

    p { text-align: left; }
  }
}

section#faq {
  .search-field {
    color: #ffffff;
    font-size: 16px;
    background-color: #4cba59;
    line-height: 30px;

    i { color: #fff }

    input[type=text], 
    input[type=text]:focus, 
    input[type=text]:hover {
      color: #ffffff;
      width: 100%;
      text-align: left;
      outline: none;
      border-color: transparent;
      background: transparent;
      border-radius: 0px;
      font-weight: bolder;

      &::-webkit-input-placeholder { color: #ffffff; }
      &:-moz-placeholder { color: #ffffff; }
      &::-moz-placeholder { color: #ffffff; }
      &:-ms-input-placeholder { color: #ffffff; }
    }
  }
  .panel-default {
    border-radius: 0px;
    .panel-heading {
      background-color: transparent;
    }
  }
}

section#works {
  .doador-panel{
    margin: 30px 0px;

    div {
      float: left;
      width: 20%;
      text-align: center;

      &:not(:last-child){
        padding-right: 15px;
      }

      i {
        font-size: 52px;
      }
    }
  }
}

section#contact {
}



/* bootstrap custom */
.label {
  padding: 4px 15px;
  border-radius: 10px;
}


/* sweet alert custom */
.sweet-alert h2 {
  font-size: 22px !important;
}
.sa-confirm-button-container {
  button {
    background-color: #4daa59 !important;
    &:hover {
      background-color: rgb(64, 201, 82) !important;
    }
  }
}

/* angular custom */
.angular-form {
  input.ng-invalid.ng-touched {
    border-color: rgb(228, 66, 73) !important;
  }
  input.ng-valid.ng-touched {
    /* custom style for ok input field */
  }
}



/* custom styles */
.section-title {
  color: #4ab855;
  margin: 50px 0px !important;
  @media all and ($max-screen : 480px) {
    text-align: center;
  }
}

.section-subtitle {
  margin-top: 30px;
  color: #63d35c;
  @media all and ($max-screen : 480px) {
    text-align: center;
  }
}

.page-title {
  @include font-light();
  font-weight: 100;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
  margin: 0px 0px 30px;

  @media all and ($max-screen : 480px) {
    margin-top: 50px;
  }

  &:before{
    content: "";
    position: absolute;
    width: 80%;
    height: 3px;
    bottom: 0;
    left: 10%;
    border-bottom: 3px solid #63d35c;
  }
}

.label-status {
  font-size: 14px;
}

a {
  color: #63d35c;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.icon-left {
  position: relative;

  i {
    left: 0px;
    color: #4cba59; 
    position: absolute;
    padding: 10px 10px 10px 25px;
    pointer-events: none;
  }

  input, textarea, select {
    padding-left: 30px;
  }
}

.faq-link-title {
  text-decoration: none;

  &:hover{ text-decoration: none; }
  &:focus{ text-decoration: none; }

  i.fa {
    color: #63d35c;
  }
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
      -o-transition-property: opacity;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}
