---
title:      Estatísticas
controller: Estatisticas
action:     index
---
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<!-- https://rawgit.com/nnnick/Chart.js/v1.0.2/Chart.min.js -->

<div class="header-filter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Estatísticas do VotoLegal</h1>
      </div>
    </div>
  </div>
</div>

<section id="estatistica">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Evolução da Amostragem</h2>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default panel-chart border-purple">
          <div class="panel-body">
            <h3>Total de doadores</h3>
            <canvas id="canvas-doadores"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default panel-chart border-gold">
          <div class="panel-body">
            <h3>Total em Reais <em><small>(Mil)</small></em></h3>
            <canvas id="canvas-valor"></canvas>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <h2>Transparência dos candidatos que estão utilizando o VotoLegal em seus sites de Internet</h2>
        <br>
      </div>


      <div class="col-md-3">
        <div class="panel panel-default panel-chart border-green">
          <div class="panel-body text-center">
            <h3 data-model="donors">0</h3>
            <p><strong>TOTAL DE DOADORES</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3 data-model="total_amount" data-formatter="currency">0</h3>
            <p><strong>TOTAL EM R$</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3 data-model="total_party_fund" data-formatter="currency">0</h3>
            <p><strong>TOTAL DO FUNDO PARTIDÁRIO</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3 data-model="total_credit_card" data-formatter="currency">0</h3>
            <p><strong>TOTAL EM CARTÃO DE CRÉDITO</strong></p>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-3">
        <div class="panel panel-default panel-chart border-green">
          <div class="panel-body text-center">
            <h3 data-model="total_electronic_transfer" data-formatter="currency">0</h3>
            <p><strong>TOTAL VIA TRANSFERÊNCIA ELETRÔNICA</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3 data-model="donations_up_to_hundred">0</h3>
            <p><strong>DOAÇÕES ATÉ R$ 100,00</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3 data-model="donations_between_hundred_and_fivehundred">0</h3>
            <p><strong>DOAÇÕES ENTRE R$ 100,00 E R$ 500,00</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3 data-model="donations_between_fivehundred_and_thousand">0</h3>
            <p><strong>DOAÇÕES ENTRE R$ 500,00 E R$ 1.000,00</strong></p>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="panel panel-default panel-chart border-green">
          <div class="panel-body text-center">
            <h3 data-model="donations_between_thousand_and_ten_thousand">0</h3>
            <p><strong>DOAÇÕES ENTRE R$ 1.000,00 E R$ 10.000,00</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3 data-model="donations_greater_than_ten_thousand">0</h3>
            <p><strong>DOAÇÕES SUPERIORES R$ 10.000,00</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3 data-model="candidates_allowed_transparency">0</h3>
            <p><strong>CANDIDATOS QUE PERMITEM A TRANSPARENCIA E A DOAÇÃO VIA VOTOLEGAL</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
      </div>



      <div class="col-md-12">
        <h2>Doações via VotoLegal</h2>
        <br>
      </div>


      <div class="col-md-3">
        <div class="panel panel-default panel-chart border-green">
          <div class="panel-body text-center">
            <h3 data-model="donations_through_votolegal">0</h3>
            <p><strong>TOTAL DE DOAÇÕES</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3 data-model="donations_canceled">0</h3>
            <p><strong>DOAÇÕES REJEITADAS PELOS SISTEMAS ANTI-FRAUDES</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3 data-model="donations_through_votolegal">0</h3>
            <p><strong>DOAÇÕES VIA CARTÃO DE CRÉDITO</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 hide">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3>0</h3>
            <p><strong>NÚMERO DE CANDIDATOS QUE RECEBERAM VIA CARTÃO DE CRÉDITO</strong></p>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3 data-model="donations_up_to_fifty_through_votolegal">0</h3>
            <p><strong>DOAÇÕES ATÉ R$ 50,00</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart border-green">
          <div class="panel-body text-center">
            <h3 data-model="donations_between_fifty_and_hundred_through_votolegal">0</h3>
            <p><strong>DOAÇÕES ENTRE R$ 50,00 E R$ 100,00</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3 data-model="donations_between_hundred_and_fourhundred_through_votolegal">0</h3>
            <p><strong>DOAÇÕES ENTRE R$ 100,00 E R$ 400,00</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3 data-model="donations_between_fourhundred_and_thousand_through_votolegal">0</h3>
            <p><strong>DOAÇÕES ENTRE R$ 400,00 E R$ 1064,10</strong></p>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

