---
title:      Estatísticas
---

<div class="header-filter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Estatísticas do VotoLegal</h1>
      </div>
    </div>
  </div>
</div>

<section id="estatistica">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Evolução da Amostragem</h2>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default panel-chart border-purple">
          <div class="panel-body">
            <h3>Total de doadores</h3>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default panel-chart border-gold">
          <div class="panel-body">
            <h3>Total em Reais <em><small>(Mil)</small></em></h3>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <h2>Transparência dos candidatos que estão utilizando o VotoLegal em seus sites de Internet</h2>
      </div>


      <div class="col-md-3">
        <div class="panel panel-default panel-chart border-green">
          <div class="panel-body text-center">
            <h3>578</h3>
            <p><strong>TOTAL DE DOADORES</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3>578</h3>
            <p><strong>TOTAL DE DOADORES</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3>578</h3>
            <p><strong>TOTAL DE DOADORES</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3>578</h3>
            <p><strong>TOTAL DE DOADORES</strong></p>
          </div>
        </div>
      </div>
      
      
      <div class="col-md-3">
        <div class="panel panel-default panel-chart border-green">
          <div class="panel-body text-center">
            <h3>578</h3>
            <p><strong>TOTAL DE DOADORES</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3>578</h3>
            <p><strong>TOTAL DE DOADORES</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3>578</h3>
            <p><strong>TOTAL DE DOADORES</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3>578</h3>
            <p><strong>TOTAL DE DOADORES</strong></p>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="panel panel-default panel-chart border-green">
          <div class="panel-body text-center">
            <h3>578</h3>
            <p><strong>TOTAL DE DOADORES</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3>578</h3>
            <p><strong>TOTAL DE DOADORES</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default panel-chart">
          <div class="panel-body text-center">
            <h3>578</h3>
            <p><strong>TOTAL DE DOADORES</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
      </div>



    </div>
  </div>
</section>

