---
title:  Complete seu cadastro
---

<section id="candidate-update" ng-controller="CadastroController">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="page-title">Complete seu cadastro</h1>
      </div>

      <div class="col-md-3">
        <!-- tab buttons -->
        <div class="tab-register">
          <a class="tab-register-default active" data-tabname="pessoal" href="#/dados-pessoais">
            <i class="fi flaticon-personal-credentials"></i> Informações pessoais
          </a>
          <a class="tab-register-default" data-tabname="campanha" href="#/dados-campanha">
            <i class="fi flaticon-square"></i> Informações da campanha
          </a>
          <a class="tab-register-default" data-tabname="projetos" href="#/projetos">
            <i class="fi flaticon-curriculum-1"></i> Projetos prioritários
          </a>
        </div>
        
        <div class="side-panel">
          <h3>Status do preenchimento</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" data-percent="{{progress}}" style="width: {{progress}}%">
              {{progress}}%
            </div>
          </div>
          <p><small>Perfil {{progress}}% preenchido.</small></p>
          <p><a class="btn btn-block btn-default disabled" style="background-color: rgb(234, 234, 234);" disabled="disabled" href="javascript:void(0);">Publicar</a></p>
          <p><small>A partir do dia 16.08.2016, após 100% dos campos obrigatórios (*) preenchidos, o botão será habilitado para publicar seu perfil.</small></p>
        </div>

        <div class="side-panel">
          <h3 class="text-danger">
            <i class="fi flaticon-information-button"></i> ATENÇÃO
          </h3>
          <p class="hide"><small>Em <strong>{{ date_to_profile }} dias</strong> encerrará seu o prazo para finalização e edição do seu cadastro.</small></p>
          <p class="hide"><small>À partir do dia <strong>15.08.2016</strong> serão bloqueados alguns campos para alteração do perfil.</small></p>
          <p><small>No dia <strong>16.08.2016</strong> os candidatos validados pelo TSE que estiverem com todos os <strong>campos obrigatórios</strong> preenchidos e o <strong>boleto</strong> Voto Legal constar como pago, poderão publicar seus perfis para receber doações.</small></p>
        </div>

        <div class="side-panel">
          <h3>Visualize o template do perfil do candidato</h3>
          <p class="text-center">
            <a href="/images/cadastro/profile-exemple.jpg" data-toggle="lightbox">
              <img src="/images/cadastro/profile-exemple-thumb.jpg" alt="Exemplo Perfil" title="Exemplo de Perfil" class="drop-shadow-15">
            </a>
          </p>
        </div>
      </div>

      <div ng-view>
        <h3 class="text-center text-muted">Carregando...</h3>
      </div>

    </div>
  </div>

</section>

<script>
(function(){

    var ChangeTab = (function (){
      // set tab active
      this.settab   = function(t){
        var list = document.querySelectorAll('a.tab-register-default');
        for (var i in list) if(list[i].classList) list[i].classList.remove('active');
        
        var tab = document.querySelector('a.tab-register-default[data-tabname='+t+']');
        if(tab) tab.classList.add('active');
      };

      this.run = function(){
        var $self = this;
        var route = document.location.hash;
        if(route.indexOf('/dados-pessoais') != -1) $self.settab('pessoal');
        if(route.indexOf('/dados-campanha') != -1) $self.settab('campanha');
        if(route.indexOf('/projetos') != -1)       $self.settab('projetos');
      };
    });

    // check if browser has hashchange
    if (! "onhashchange" in window) 
      console.error("The browser supports the hashchange event!");

    window.onhashchange = function(){
      new ChangeTab().run();
    };

    // fallback
    var pid = window.setInterval(function(){
      new ChangeTab().run();
    }, 100);
  })();
</script>
