---
title:  Complete seu cadastro
---

<section id="candidate-update" ng-controller="CadastroController">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="page-title">Complete seu cadastro</h1>
      </div>

      <div class="col-md-3">
        <!-- tab buttons -->
        <div class="tab-register">
          <a ng-class="{'tab-register-default': true, 'active': activetab === 'pessoal'}" href="#/dados-pessoais" ng-click="activetab = 'pessoal'">
            <i class="fi flaticon-personal-credentials"></i> Informações pessoais
          </a>
          <a ng-class="{'tab-register-default': true, 'active': activetab === 'campanha'}" href="#/dados-campanha" ng-click="activetab = 'campanha'">
            <i class="fi flaticon-square"></i> Informações da campanha
          </a>
          <a ng-class="{'tab-register-default': true, 'active': activetab === 'projetos'}" href="#/projetos" ng-click="activetab = 'projetos'">
            <i class="fi flaticon-curriculum-1"></i> Projetos prioritários
          </a>
        </div>
        
        <div class="side-panel">
          <h3>Status do preenchimento</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" data-percent="{{progress}}" style="width: {{progress}}%">
              {{progress}}%
            </div>
          </div>
          <p><small>Perfil {{progress}}% preenchido.</small></p>
          <p><small>Seu perfil pode ser preenchido e editado até o dia 15.08.2016.</small></p>
        </div>

        <div class="side-panel">
          <h3 class="text-danger">
            <i class="fi flaticon-information-button"></i> ATENÇÃO
          </h3>
          <p><small>Em <strong>{{ date_to_profile }} dias</strong> encerrará seu o prazo para finalização e edição do seu cadastro.</small></p>
          <p><small>À partir do dia <strong>15.08.2016</strong> não será permitida a realização de novas edições.</small></p>
          <p><small>No dia <strong>16.08.2016</strong> os perfis que estiverem com todos os <strong>campos obrigatórios preenchidos</strong> serão publicados e estarão disponíveis para receber doações. </small></p>
        </div>

        <div class="side-panel">
          <h3>Visualize o template do perfil do candidato</h3>
          <p class="text-center">
            <a href="/images/cadastro/profile-exemple.jpg" data-toggle="lightbox">
              <img src="/images/cadastro/profile-exemple-thumb.jpg" alt="Exemplo Perfil" title="Exemplo de Perfil" class="drop-shadow-15">
            </a>
          </p>
        </div>
      </div>

      <div ng-view>
        <h3 class="text-center text-muted">Carregando...</h3>
      </div>

    </div>
  </div>

</section>


