---
title:  Complete seu cadastro
---

<section id="candidate-update" ng-controller="CadastroController">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <!-- tab buttons -->
        <div class="tab-register">
          <a class="tab-register-default active" data-tabname="pessoal" href="#/dados-pessoais" ng-if="user.donation_type != 'party'">
            <i class="fi flaticon-personal-credentials"></i> Informações pessoais
          </a>
          <a class="tab-register-default" data-tabname="campanha" href="#/dados-campanha">
            <i class="fi flaticon-square"></i> Informações da campanha
          </a>
          <a class="tab-register-default" data-tabname="projetos" href="#/projetos" ng-if="user.donation_type != 'party'">
            <i class="fi flaticon-curriculum-1"></i> Projetos prioritários
          </a>
          <a class="tab-register-default" href="/cadastro/preview" ng-if="user.donation_type != 'party'">
            <i class="fi flaticon-resume"></i> Página pública
          </a>
        </div>
      </div>

<!-- TODO: Recolocar no dia (a partir de 15/08)
        <div class="side-panel hide" id="show-boleto">
          <h3>Gerar Boleto</h3>
          <p><a href="/cadastro/boleto" title="Gerar boleto" target="_blank"><img class="img-responsive" src="/images/candidatos/votolegal2-barcode.png" alt="Código de Barras" style="opacity: 0.4;"></a></p>
          <p><a class="btn btn-block btn-success" href="/cadastro/boleto" title="Gerar boleto" target="_blank"> <i class="fa fa-barcode"></i> Gerar boleto</a></p>
        </div>
 -->


      <div ng-view>
        <h3 class="text-center text-muted">Carregando...</h3>
      </div>

    </div>
  </div>

</section>

<script>
(function(){

    var ChangeTab = (function (){
      // set tab active
      this.settab   = function(t){
        var list = document.querySelectorAll('a.tab-register-default');
        for (var i in list) if(list[i].classList) list[i].classList.remove('active');

        var tab = document.querySelector('a.tab-register-default[data-tabname='+t+']');
        if(tab) tab.classList.add('active');
      };

      this.run = function(){
        var $self = this;
        var route = document.location.hash;
        if(route.indexOf('/dados-pessoais') != -1) $self.settab('pessoal');
        if(route.indexOf('/dados-campanha') != -1) $self.settab('campanha');
        if(route.indexOf('/projetos') != -1)       $self.settab('projetos');
      };
    });

    // check if browser has hashchange
    if (! "onhashchange" in window)
      console.error("The browser supports the hashchange event!");

    window.onhashchange = function(){
      new ChangeTab().run();
    };

    // fallback
    var pid = window.setInterval(function(){
      new ChangeTab().run();
    }, 100);
  })();
</script>
