---
title:  Complete seu cadastro
---

<section id="candidate-update" ng-controller="CadastroController">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="page-title">Complete seu cadastro</h1>
      </div>

      <div class="col-md-3">
        <!-- tab buttons -->
        <div class="tab-register">
          <a class="tab-register-default active" data-tabname="pessoal" href="#/dados-pessoais">
            <i class="fi flaticon-personal-credentials"></i> Informações pessoais
          </a>
          <a class="tab-register-default" data-tabname="campanha" href="#/dados-campanha">
            <i class="fi flaticon-square"></i> Informações da campanha
          </a>
          <a class="tab-register-default" data-tabname="projetos" href="#/projetos">
            <i class="fi flaticon-curriculum-1"></i> Projetos prioritários
          </a>
        </div>

        <div class="side-panel">
          <h3>Status do preenchimento</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" data-percent="{{progress}}" style="width: {{progress}}%">
              {{progress}}%
            </div>
          </div>
          <p class="hide"><a class="btn btn-block btn-default disabled" style="background-color: rgb(234, 234, 234);" disabled="disabled" href="javascript:void(0);">Publicar</a></p>
          <p><small>No dia 16.08.2016 os perfis que estiverem com todos os campos obrigatórios preenchidos e o boleto referente à infraestrutura serão publicados e estarão disponíveis para receber doações.</small></p>
          <br class="divider">

          <p>
            <h5 class="text-success">Pré-visualização do Perfil</h5>
            <p>Quer ver como o seu perfil público vai ser apresentado na pagina? Então clique no botão abaixo:</p>
          </p>
          <p>
            <a class="btn btn-default btn-block" href="/cadastro/preview"> <i class="fa fa-list"></i> Acessar Preview</a>
          </p>
          <br class="divider">

          <p>
            <h5 class="text-success">Prestação de contas:</h5>
            <p>Clique abaixo para acompanhar seu histórico de doações e ficar em dia prestando suas contas e emitindo seus recibos.</p>
          </p>
          <p>
            <a class="btn btn-default btn-block" href="/cadastro/historico"> <i class="fa fa-list"></i> Histórico de Doações</a>
          </p>
          <br class="divider">

          <h5 class="text-success">Dúvidas!?</h5>
          <p>Clique abaixo para ver nosso <strong>guia prático</strong>:</p>
          <p>
            <a class="btn btn-default btn-block" href="/files/guiapraticovotolegal.pdf" target="_blank"> <i class="fa fa-file-o"></i> Guia Prático</a>
          </p>
        </div>

<!-- TODO: Recolocar no dia (a partir de 15/08)
        <div class="side-panel hide" id="show-boleto">
          <h3>Gerar Boleto</h3>
          <p><a href="/cadastro/boleto" title="Gerar boleto" target="_blank"><img class="img-responsive" src="/images/candidatos/votolegal2-barcode.png" alt="Código de Barras" style="opacity: 0.4;"></a></p>
          <p><a class="btn btn-block btn-success" href="/cadastro/boleto" title="Gerar boleto" target="_blank"> <i class="fa fa-barcode"></i> Gerar boleto</a></p>
        </div>
 -->


        <div class="side-panel">
          <h3>Visualize o template do perfil do candidato</h3>
          <p class="text-center">
            <a href="/images/cadastro/profile-exemple.jpg" data-toggle="lightbox">
              <img src="/images/cadastro/profile-exemple-thumb.jpg" alt="Exemplo Perfil" title="Exemplo de Perfil" class="drop-shadow-15">
            </a>
          </p>
        </div>
      </div>

      <div ng-view>
        <h3 class="text-center text-muted">Carregando...</h3>
      </div>

    </div>
  </div>

</section>

<script>
(function(){

    var ChangeTab = (function (){
      // set tab active
      this.settab   = function(t){
        var list = document.querySelectorAll('a.tab-register-default');
        for (var i in list) if(list[i].classList) list[i].classList.remove('active');

        var tab = document.querySelector('a.tab-register-default[data-tabname='+t+']');
        if(tab) tab.classList.add('active');
      };

      this.run = function(){
        var $self = this;
        var route = document.location.hash;
        if(route.indexOf('/dados-pessoais') != -1) $self.settab('pessoal');
        if(route.indexOf('/dados-campanha') != -1) $self.settab('campanha');
        if(route.indexOf('/projetos') != -1)       $self.settab('projetos');
      };
    });

    // check if browser has hashchange
    if (! "onhashchange" in window)
      console.error("The browser supports the hashchange event!");

    window.onhashchange = function(){
      new ChangeTab().run();
    };

    // fallback
    var pid = window.setInterval(function(){
      new ChangeTab().run();
    }, 100);
  })();
</script>
