<div class="col-md-6">
  <h4>Informações pessoais</h4>
  <br class="divider">

  <% content_tag :form, name: 'candidateForm', class: 'angular-form', 'ng-submit': "save_candidate(candidateForm.$valid)", novalidate: '' do %>
    <div class="row">
      <div class="form-group col-md-12">
        <div class="text-center" ng-show="candidate.picture">
          <img class="img-thumbnail img-circle" src="/images/cadastro/no-photo.jpg" ng-src="{{candidate.picture}}" alt="" width="100px" height="100px">
        </div>
      </div>
      <div class="form-group col-md-12">
        <label>Imagem para o perfil *</label>
        <div class="input-group image-preview">
        <input type="text" class="form-control image-preview-filename" value="{{candidate.picture}}" disabled="disabled"> 
          <span class="input-group-btn">
            <!-- image-preview-input -->
            <div class="btn btn-default image-preview-input">
              <span class="fa fa-folder"></span>
              <span class="image-preview-input-title">Adicionar Foto</span>
              <input type="file" accept="image/png, image/jpeg, image/gif" name="picture" ng-model="candidate.picture"/> <!-- rename it -->
            </div>
          </span>
        </div><!-- /input-group image-preview [TO HERE]--> 

        <a class="btn-info" tabindex="-1" href="javascript:void(0);" uib-popover="Preferência para fotos com fundo branco." popover-placement="left" popover-trigger="click">
          <i class="flaticon-info"></i>
        </a>
      </div>
      <div class="form-group icon-left icon-with-label col-md-12">
        <label>Link do video (youtube ou vimeo) *</label>
        <i class="fa fa-video-camera"></i>    
        <input class="form-control" type="text" name="video_url" ng-model="candidate.video_url" required>
      </div>
      <div class="form-group icon-left icon-with-label col-md-12">
        <label>Link página Facebook</label>
        <i class="fa fa-facebook"></i>    
        <input class="form-control" type="text" name="facebook_url" ng-model="candidate.facebook_url">
      </div>
      <div class="form-group icon-left icon-with-label col-md-12">
        <label>Link página Twitter</label>
        <i class="fa fa-twitter"></i>    
        <input class="form-control" type="text" name="twitter_url" ng-model="candidate.twitter_url">
      </div>
      <div class="form-group icon-left icon-with-label col-md-12">
        <label>Link página Instagram</label>
        <i class="fa fa-instagram"></i>    
        <input class="form-control" type="text" name="instagram_url" ng-model="candidate.instagram_url">
      </div>
      <div class="form-group icon-left icon-with-label col-md-12">
        <label>Link Website</label>
        <i class="fa fa-link"></i>    
        <input class="form-control" type="text" name="website_url" ng-model="candidate.website_url" required>
      </div>
      <div class="form-group icon-left icon-with-label col-md-12">
        <label>E-mail de contato para eleitores</label>
        <i class="fa fa-envelope"></i>    
        <input class="form-control" type="text" name="public_email" ng-model="candidate.public_email" required>
      </div>
      <div class="form-group icon-left icon-with-label col-md-12">
        <label>Breve apresentação pessoal e da campanha *</label>
        <i class="fa fa-user"></i>    
        <textarea class="form-control" cols="30" rows="6" size="400" maxlength="400" ng-trim="false" name="summary" ng-model="candidate.summary" required></textarea>
        <span class="help-block text-right">{{candidate.summary.length || 0}} de <strong>400</strong> caracteres</span>
      </div>
      <div class="form-group icon-left icon-with-label col-md-12">
        <label>Sobre você (biografia)</label>
        <i class="fa fa-user"></i>    
        <textarea class="form-control" cols="30" rows="6" size="400" maxlength="400" name="biography" ng-model="candidate.biography"></textarea>
        <span class="help-block text-right">{{candidate.biography.length || 0}} de <strong>400</strong> caracteres</span>
      </div>
      <div class="form-group icon-left icon-with-label col-md-12">
        <label>Nome do responsável pelo cadastro *</label>
        <i class="fa fa-user"></i>    
        <input class="form-control" type="text" name="responsible_name" ng-model="candidate.responsible_name" required>
      </div>
      <div class="form-group icon-left icon-with-label col-md-12">
        <label>E-mail do responsável pelo cadastro</label>
        <i class="fa fa-envelope"></i>    
        <input class="form-control" type="text" name="responsible_email" ng-model="candidate.responsible_email">
      </div>
      <div class="form-group col-md-12">
        <p class="text-right">
          <button type="submit" id="btn-enviar" ng-disabled="submit_enabled" class="btn btn-success btn-lg">Gravar</button>
        </p>
        <div ng-show="error_list.length > 0" class="ng-hide" style="margin: 30px 0px; border: 2px solid rgb(234, 53, 53); color: rgb(234, 53, 53); padding: 10px 15px; border-radius: 5px;" class="error-panel">
          <h4>Os seguinte campos precisam ser corrigidos:</h4>
          <ul ng-repeat="error in error_list" style="margin: 0px; list-style-type: square; padding: 0px 0px 0px 40px;" class="ng-scope" ng-repeat="error in error_list">
            <li>{{error}}</li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

</div>
