<div class="col-md-6" ng-init="tabname = 'projetos'">
  <h4>Projetos prioritários (agenda programática)</h4>
  <p>Escreva no mínimo 4 projetos que fazem parte da sua agenda programática ou plano de governo.</p>
  <p>Esses projetos estarão disponíveis no seu perfil e após cada doação, o doador poderá responder uma 
  enquete para votar nos 3 projetos de maior interesse. O resultado da enquete ficará disponível no seu 
  perfil.</p>
  <br class="divider">

  <% content_tag :form, name: 'candidateForm', class: 'angular-form', 'ng-submit': "update(candidateForm.$valid)", novalidate: '' do %>
    <div class="row project_list" ng-repeat="i in projects">
      <div class="form-group icon-left col-md-12">
        <strong>Projeto {{$index + 1}}:</strong>
      </div>
      <div class="form-group icon-left col-md-12">
        <i class="fa fa-certificate"></i>    
        <input class="form-control" type="text" placeholder="Titulo" name="" required>
      </div>
      <div class="form-group icon-left col-md-12">
        <i class="fa fa-edit"></i>    
        <textarea name="" class="form-control" cols="30" rows="5" placeholder="Breve descrição"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12 text-right">
        <a href="javascript:void(0);" ng-click="add_project()">+ Adicionar mais projetos</a>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <p class="text-right">
          <button type="submit" id="btn-enviar" ng-disabled="submit_enabled" class="btn btn-success btn-lg">Gravar</button>
        </p>
        <div ng-show="error_list.length > 0" class="ng-hide" style="margin: 30px 0px; border: 2px solid rgb(234, 53, 53); color: rgb(234, 53, 53); padding: 10px 15px; border-radius: 5px;" class="error-panel">
          <h4>Os seguinte campos precisam ser corrigidos:</h4>
          <ul ng-repeat="error in error_list" style="margin: 0px; list-style-type: square; padding: 0px 0px 0px 40px;" class="ng-scope" ng-repeat="error in error_list">
            <li>{{error}}</li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

</div>
