---
title:  Permisão negada
---

<section id="error--permission-denied">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="page-title">Permissão Negada</h1>
      </div>
      <div class="col-md-12 text-center" style="min-height: 200px;">
        <p>Você esta tentando acessar uma pagina que você não possui acesso.</p>
        <p>
          <br class="divider">
          <a class="btn btn-success" href="/">Voltar ao inicio</a>
        </p>
      </div>
    </div>
  </div>
</section>

