---
title: Análise do Pagamento
---

<section id="pre-register" ng-controller="PaymentController">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="nav-links-register">
					<br class="divider">
					<p class="nav-link-process nav-link-sucess">Pré-cadastro</p>
					<p class="nav-link-process nav-link-sucess">Contrato</p>
					<p class="nav-link-process nav-link-sucess">Pagamento</p>
					<p class="nav-link-process nav-link-active">Análise de pagamento</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="payment-boleto" ng-if="candidate.payment_method == 'boleto' ">
					<h1 class="page-title">

					Seu boleto foi gerado!</h1>

					<p>A confirmação do pagamento ocorre em até 2 dias úteis.</p>
					<p>
						Você será notificado por e-mail sobre o status do seu pagamento assim que o pagamento for identificado.
					</p>
					<p>
						Dúvidas? Acesse
						<a href="https://votolegal.com.br/perguntas-frequentes" target="_blank">Perguntas frequentes</a>.
					</p>

					<div class="jumbotron alert alert-warning">
						<p>Caso tenha tido algum problema com seu boleto refaça a operação.
							<a href="/pagamento" class="">Gerar boleto</a>
						</p>
					</div>
				</div>

				<div class="payment-credit-card" ng-if="candidate.payment_method != 'boleto' ">

					<h1 class="page-title">Pagamento em análise</h1>

					<p>Seu pagamento foi realizado e está em análise.</p>
					<p>
						Você será notificado por e-mail sobre o status do seu pagamento assim que o pagamento for identificado.
					</p>
					<p>
						Dúvidas? Acesse
						<a href="https://votolegal.com.br/perguntas-frequentes" target="_blank">Perguntas frequentes</a>.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>


