---
title: Análise do Pagamento
---

<section id="pre-register" ng-controller="PaymentController">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<br class="divider">
				<span class="badge badge-status badge-default">Pré-cadastro</span>
				<span class="badge badge-status badge-default">Contrato</span>
				<span class="badge badge-status badge-default">Pagamento</span>
				<span class="badge badge-status badge-default badge-success">Análise de pagamento</span>
			</div>
			<div class="col-md-12 text-center">
				<h1 class="page-title">
					Enviado com sucesso
				</h1>
			</div>
			<div class="col-md-12">
				<p>Seu pagamento foi realizado e esta em análise.</p>
				<p>Você será notificado por e-mail sobre a aprovação do seu pagamento assim que tivermos a aprovação você será notificado
					por e-mail.</p>
				<p>Dúvidas? Acesse
					<a href="https://votolegal.com.br/perguntas-frequentes" target="_blank">Perguntas frequentes</a>.</p>
			</div>
			<div class="col-md-12">
				<div class="jumbotron alert alert-warning" ng-if="candidate.payment_method == 'boleto' ">
					<p>Caso tenha tido algum problema com seu boleto refaça a operação.
						<a href="/pagamento" class="">Gerar boleto</a>
					</p>
				</div>
			</div>
		</div>

	</div>
</section>
