---
title:  Obrigado pelo contato
---

<section id="pre-register">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="page-title">Obrigado!</h1>
      </div>
      <div class="col-md-12 text-center">
        <p>Recebemos seu contato, em breve retornaremos.<br>
        Acesse a nossa página de <a href="/faq">Perguntas frequentes</a> e tire suas dúvidas.</p>
      </div>
    </div>
  </div>
</section>

