<div ng-controller="ContractController">

	<div class="row">
		<div class="col-md-12">
			<h1>CONTRATO DE PRESTAÇÃO DE SERVIÇOS</h1>

			<blockquote>
				PAGUE JUNTO TECNOLOGIA DE INTERMEDIAÇÃO LTDA., sociedade limitada regularmente constituída, com sede em São Paulo, Estado
				de São Paulo, na Rua Desembargador Eliseu Guilherme, 53 – Cj. 21 – Paraíso – São Paulo - SP – CEP 04004-030, CNPJ/MF
				sob o nº 30.217.474/0001-50, doravante chamada simplesmente CONTRATADA;
			</blockquote>
			<ul>
				<li class="list-contracti">
					1. DO OBJETO

					<blockquote>
						<p>
							1.1 A
							<strong>contratada</strong> loca seus serviços profissionais para habilitação da plataforma Voto Legal, destinada para arrecadação
							de doações eleitorais para a campanha eleitoral de 2018..
						</p>
					</blockquote>
				</li>
				<li class="list-contracti">
					2. DA CONTRAPRESTAÇÃO FINANCEIRA
					<blockquote>
						<p>
							2.1 A contraprestação financeira a que fará jus
							<strong>contratante</strong> é estipulada da seguinte forma:
						</p>
						<br>
						<p>
							2.1.1 Disponibilização de uma instância de infraestrutura para uso da Plataforma Voto Legal para as eleições de 2018: R$
							495,00 (quatrocentos e noventa e cinco reais), a serem pagos em parcela única.
						</p>
						<br>
						<p>
							2.2 O pagamento deverá ser feito pelo
							<strong>contratante </strong>no ato de assinatura do contrato, através dos mecanismos de pagamento por meio eletrônico disponibilizados
							na plataforma.
						</p>
					</blockquote>
				</li>
				<li class="list-contracti">
					3. DA FORMA DE PRESTAÇÃO DOS SERVIÇOS
					<blockquote>
						<p>
							3.1 A disponibilização da plataforma Voto Legal ocorrerá a partir do dia 10/05/2018 para configuração, implementação e configuração
							da plataforma, ficando desabilitada a opção de arrecadação até o dia 15/05/2018 quando poderá iniciar a arrecadação
							de recursos, de acordo com o previsto na legislação eleitoral e essa opção será automaticamente habilitada.
						</p>
						<br>
						<p>
							3.2 A plataforma permanecerá disponível até o dia 15/08/2018, data limite para apresentação dos requerimentos de registro
							de candidatura perante a Justiça Eleitoral.
						</p>
						<blockquote>
							<p>
								3.2.1 Havendo a confirmação do registro da candidatura do
								<strong>contratante </strong> para as eleições de 2018. O contrato poderá ser renovado pelo candidato, mediante nova negociação,
								para a continuidade das arrecadações durante a campanha eleitoral.
							</p>
							<br>
							<p>
								3.2.2 Independente desta nova contratação, em caso de confirmação do registro de candidatura do <strong> contratante</strong>, os valores arrecadados serão devidamente transferidos para a conta de campanha a ser indicada pelo <strong>contratante</strong> na primeira oportunidade.
							</p>
							<p>
								3.2.3 Por conta das regras de compensação do meio de pagamento, os valores doados serão disponibilizados após 31 (trinta e um) dias corridos da data de doação.
							</p>
							<br>
							<p>
								3.2.4 Considerando as regras de compensação mencionadas no item 3.2.3,   a transferência dos valores arrecadados indicada no item 3.2.2 será feita uma vez por semana, sempre às quintas-feiras, transferindo todo o valor já disponibilizado pelo meio de pagamento até aquele momento.
							</p>
							<br>
							<p>
							3.2.5 Caso não se confirme a candidatura do <strong>contratante </strong>para as eleições de 2018, os valores arrecadados serão integralmente devolvidos aos doadores, conforme previsto na Legislação Eleitoral, sem prejuízo dos valores devidos à <strong>contratada</strong> pela prestação dos serviços, descontadas também as taxas das transações bancárias para a transferência.
							</p>
							<br>
							<p>
								3.2.6 Caso exista a confirmação da candidatura, não havendo indicação da conta de campanha no prazo de até 30 dias, os valores serão também devolvidos aos doadores, na mesma forma da cláusula  3.2.3.
							</p>
						</blockquote>

					</blockquote>
				</li>
				<li class="list-contracti">
					<h2>
						4. DAS OBRIGAÇÕES DAS PARTES
					</h2>
					<blockquote>
						4.1 São obrigações do <strong>contratante:</strong>
						<p>
							4.1.1 Promover e divulgar sua campanha de arrecadação através da Plataforma disponibilizada pela <strong>contratada.</strong>
						</p>
						<br>
						<p>
							4.1.2 Fornecer e responsabilizar-se pela origem dos dados utilizados em sua estratégia de divulgação e arrecadação.
						</p>
						<br>
						<p>
							4.1.3 Verificar a origem dos recursos arrecadados pela plataforma Voto Legal, confirmando não se tratarem de doações de fontes vedadas pela legislação eleitoral, responsabilizando-se integralmente pelo contato com os doadores para regularização de qualquer situação.
						</p>
						<br>
						<p>
							4.1.4 Realizar a prestação de contas na Justiça Eleitoral indicando devidamente todas as doações recebidas, respaldado por relatório que será fornecido pela <strong>contratada.</strong>
						</p>
						<br>
						<p>
							4.1.5 Em caso de confirmação de sua candidatura, informar imediatamente após a abertura da conta de campanha, mediante configuração de seus dados e seu registro perante a justiça eleitoral, os dados bancários para a transferência dos recursos arrecadados
						</p>
						<br>
						4.2 São obrigações da <strong>contratada:</strong>
						<br>
						<p>
							4.2.1 Promover a integração do sistema de arrecadação com o Sistema de Prestação de Contas da Justiça Eleitoral.
						</p>
						<br>
						<p>
							4.2.2 Gerar recibos eleitorais em conformidade com a Legislação Eleitoral e enviar aos doadores no e-mail indicado no momento do cadastro.
						</p>
						<br>
						<p>
							4.2.3 Fornecer ao contratante e enviar à Justiça Eleitoral relatório com a indicação de todos os doadores, seus respectivos CPF e valores de doação, nos prazos legalmente estabelecidos.
						</p>
						<br>
						<p>
							4.2.4 Em caso de confirmação da candidatura do contratante, realizar a transferência dos valores arrecadados pela Plataforma Voto Legal 2018 imediatamente após a indicação da conta de campanha, respeitando a regra de compensação e data de depósito, descritos nas cláusulas 3.2.3. e 3.2.4. deste contrato.
						</p>
						<br>
						<p>
							4.2.5 Caso a candidatura do <strong>contratante</strong> não se confirme, a devolução da integralidade dos valores arrecadados para cada um dos doadores.
						</p>
					</blockquote>
				</li>
				<li class="list-contracti">
					5. DO SIGILO
					<blockquote>
						5.1 O <stron>contratante</stron> está ciente de que o contrato é público, bem como todas as informações relativas às doações recebidas pela plataforma disponibilizada pela <strong>contratada</strong>, como nome completo, CPF dos doadores e valores arrecadados são informações públicas por determinação legal, e serão enviadas, no prazo estabelecido em lei, à Justiça Eleitoral, que fará sua divulgação.
					</blockquote>
				</li>
				<li class="list-contracti">
					6. DA VIGÊNCIA E RESCISÃO DO CONTRATO
					<blockquote>
						<p>
							6.1 A vigência do presente contrato se dará pelo período de prestação dos serviços indicados na cláusula 3.
						</p>
						<br>
						<p>
							6.2 As partes poderão, a qualquer momento, rescindir unilateralmente o presente contrato, implicando em desabilitação da plataforma e devolução dos valores arrecadados aos doadores.
						</p>
						<blockquote>
							<p>
								6.2.1 O valor previsto no itens 2.1.1 será devido integralmente independente do momento de rescisão do contrato. Salvo hipótese de rescisão em razão de descumprimento contratual pela <strong>contratada</strong>.
							</p>

						</blockquote>
							<p>
								6.3 A <strong>contratada</strong>  poderá rescindir este contrato a qualquer tempo, caso o <strong>contratatante</strong>  utilize as ferramentas disponibilizadas pela <strong>contratada</strong> para promover, divulgar, defender mensagens que contenham racismo, pedofilia, ofensas aos Direitos Humanos, ou qualquer outra forma de discriminação coibida pelo ordenamento jurídico ou que atentem contra os princípios e valores defendidos pela <strong>contratada</strong>. Nessas hipóteses e sem prejuízo do direito à resolução acima estabelecido, o <strong>contratatante</strong> ficará obrigado ao pagamento do valor total pactuado pelos serviços, independe dos serviços que efetivamente tenham sido prestados pela <strong>contratada</strong>.
							</p>
							<p>
							6.4 Este contrato poderá ser rescindindo a qualquer tempo, por qualquer das partes, em caso de descumprimento de suas cláusulas e condições
							</p>
					</blockquote>
				</li>
				<li class="list-contracti">
					7. DISPOSIÇÕES GERAIS
					<blockquote>
						<p>
							7.1 Este contrato vincula as partes, seus representantes legais e sucessores, a qualquer tempo ou a qualquer título.
						</p>
						<br>
						<p>
							7.2 Qualquer modificação ou alteração deste contrato deverá ser efetuada por aditivo assinado por ambas as partes.
						</p>
						<br>
						<p>
							7.3 A <strong>contratada</strong> não oferece, nem pagará, por despesas como auditoria, emolumentos e taxas de cartórios, serviços
							de entrega, stress test, assessoria de imprensa, assessoria jurídica, controladoria, criação de layouts, consultoria
							de branding, viagens, diárias, táxis, traslados, traduções ou qualquer outro custo que não esteja diretamente citado
							como de responsabilidade da <strong>contratada</strong>.
						</p>
					</blockquote>
				</li>
				<li class="list-contracti">
					8. DO FORO
					<blockquote>
						<p>
							8.1 Fica eleita a Comarca de São Paulo como foro do contrato, o qual prevalecerá qualquer que seja o domicílio do <strong>contratatante</strong> .
						</p>
						<p>
						Por estarem justos e contratados, assinam digitalmente o presente contrato, via aceite desta minuta na plataforma que contém 06 (seis) laudas e será enviado no endereço eletrônico a ser fornecido pelo contratante no momento da assinatura.
						</p>
					</blockquote>
				</li>
			</ul>
		</div>
	</div>
	<form action="" class="contract-form">
		<input type="checkbox" name="" id="" ng-model="confirmContract" class="contract-ckeck">
		<b>Concordo.</b>

		<input type="button" value=" enviar" ng-click="confirm()" class="btn btn-success contract">
	</form>
	<div ng-if="error_list" ng-show="error_list.length > 0" style="margin: 30px 0px; border: 2px solid rgb(234, 53, 53); color: rgb(234, 53, 53); padding: 10px 15px; border-radius: 5px;"
	    class="error-panel">
		<ul ng-if="error_list" style="margin: 0px; list-style-type: square; padding: 0px 0px 0px 40px;" class="ng-scope">
			<li>{{error_list}} </li>
		</ul>
	</div>

</div>
