---
title:  Sobre
---

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="page-title">Sobre</h1>
      </div>
      <div class="col-md-12">
        <h3 class="section-subtitle">O que é?</h3>
        <p>O MCCE (Movimento de Combate à Corrupção Eleitoral) e o Appcívico, em parceria com com diversas organizações da sociedade civil e com o apoio do Instituto Arapyau, construiu uma plataforma de doação de pessoas físicas para campanhas políticas nas eleições municipais de 2016.</p>

        <h3 class="section-subtitle">Objetivos</h3>
        <p>
          <ul>
            <li>Promover campanhas políticas mais baratas e transparentes;</li>
            <li>Garantir a transparência entre doadores pessoas físicas e candidatos;</li>
            <li>Oferecer agilidade no processo de doação;</li>
            <li>Fortalecer o engajamento de pessoas físicas em campanhas políticas;</li>
            <li>Promover a prestação de contas dos candidatos e o monitoramento do cidadão.</li>
          </ul>
        </p>
      </div>

      <div class="col-md-12">
        <h3 class="section-subtitle">Realizadores:</h3>
      </div>

      <div class="row">
        <div class="col-md-3">
          <img src="/images/sobre/mcce-logo.png" alt="MCCE" class="img-logo" >
        </div>
        <div class="col-md-9">
          <p>Movimento de Combate a Corrupção Eleitoral ficou conhecido, especialmente, por ter sido o autor da proposta de iniciativa popular que originou a Lei da Ficha Limpa que foi apoiada por mais de 1.600.000 pessoas, através de assinatura , além de outros tantos milhares de apoios que recebeu pela internet, pelas plataformas Avaaz e Change e nas midias sociais. O MCCE articula uma rede de mais de 60 entidades associadas e hoje tem um novo projeto de iniciativa popular para a Reforma Política que conta com mais de 100 entidades apoiadoras.</p>
          <p>Saiba mais: <a href="http://www.mcce.com.br" target="_blank">www.mcce.com.br</a></p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <img src="/images/sobre/appcivico-logo.png" alt="APPCívico" class="img-logo">
        </div>
        <div class="col-md-9">
          <p>Appcívico é uma empresa de tecnologia social que busca, através da inovação, promover processos de participação cidadã e construção daquilo que é de interesse público. A empresa acredita no fortalecimento de um ecossistema sustentável de desenvolvedores e usuários de aplicativos cívicos certificados que inclui implementação, customização, integrações, suporte técnico e estratégias de engajamento cidadão para as aplicações, aproveitando as melhores tecnologias abertas disponíveis no mercado.</p>
          <p>Saiba mais: <a href="http://www.appcivico.com.br" target="_blank">www.appcivico.com.br</a></p>
        </div>
      </div>

      <br class="divider">

      <div class="col-md-12">
        <h3 class="section-subtitle">Apoio:</h3>
      </div>

      <div class="row">
        <div class="col-md-3">
          <img src="/images/sobre/arapyau-logo.png" alt="APPCívico" class="img-logo">
        </div>
        <div class="col-md-9">
          <p>O Arapyaú é uma associação sem fins lucrativos que está empenhada na promoção do desenvolvimento sustentável. Sua contribuição se dá pelo desenvolvimento de ações e apoio estratégico, financeiro e de articulação a organizações e grupos que trabalham para o desenvolvimento da economia verde*, o aprimoramento da política e suas lideranças e o engajamento da sociedade. </p>
          <p>*Economia verde: Modelo econômico que resulta em “melhoria do bem-estar da humanidade e igualdade social, ao mesmo tempo em que reduz significativamente riscos ambientais e escassez ecológica”. (PNUMA, 2010)</p>
          <p>Saiba mais: <a href="http://www.arapyau.com.br" target="_blank">www.arapyau.com.br</a></p>
        </div>
      </div>

      <br class="divider">

      <p>Conheça nossos parceiros <a href="/parceiros">clicando aqui</a>.</p>

      <br class="divider">

      <div class="col-md-12">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/OB92PoubSEk" frameborder="0" allowfullscreen></iframe>
        </div>
        <br class="divider">
      </div>

    </div>
  </div>
</section>

