---
title:  Candidato aprovado
---

<!-- section id="approved-candidate" ng-controller="ApprovedCandidateController" -->
<section id="approved-candidate" ng-controller="DefaultController">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <br class="divider">
        <span class="badge badge-status badge-default">Pré-cadastro</span><br class="hidden-lg hidden-md hidden-sm">
        <span class="badge badge-status badge-success">Pré-cadastro Aprovado</span><br class="hidden-lg hidden-md hidden-sm">
        <span class="badge badge-status badge-default">Cadastro completo</span>
      </div>
      <div class="col-md-12 text-center">
        <h1 class="page-title">
          Candidato aprovado
        </h1>
      </div>
      <div class="col-md-12">
        <p>Seu cadastro foi <strong class="text-success">aprovado</strong>!</p>
        <p>
          Preencha seu cadastro completo para construir seu perfil no Voto Legal. Sua página ficará disponível para doações à partir do dia 16.08.2016.
        </p>
        <p>
          <strong>Importante:</strong> Os pré-candidatos possuem até o dia 15.08.16 para efetuar o cadastro completo e/ou editar o perfil no Voto Legal. Após essa data serão bloqueados alguns campos para alteração do perfil.
        </p>
        <p>
          <strong>Lembre-se:</strong> A partir do dia 16.08.2016, após 100% dos campos obrigatórios (*) preenchidos, o botão será habilitado para publicar seu perfil.
        </p>
        <br class="divider">
        
        <p class="text-center">
          <a class="btn btn-success btn-lg" href="/cadastro-completo">Completar cadastro</a>
        </p>
      </div>
    </div>
  </div>
</section>

