---
title:  Candidato aprovado
---

<section id="pre-register">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <br class="divider">
        <span class="badge badge-status badge-default">Pré-cadastro</span><br class="hidden-lg hidden-md hidden-sm">
        <span class="badge badge-status badge-success">Pré-cadastro Aprovado</span><br class="hidden-lg hidden-md hidden-sm">
        <span class="badge badge-status badge-default">Cadastro completo</span>
      </div>
      <div class="col-md-12 text-center">
        <h1 class="page-title">
          Candidato aprovado
        </h1>
      </div>
      <div class="col-md-12">
        <p>Seu cadastro foi aprovado!</p>
        <p>
          Preencha seu cadastro completo para construir seu perfil no Voto Legal.Sua página ficará disponível 
          para doações à partir do dia 15.08.2016. Para saber quais dados são necessários para o 
          preenchimento clique aqui <a href="/documentos-para-cadastro">Documentos para cadastro</a>.
        </p>
        <p>
          <strong>Importante:</strong> Você tem até o dia 14.08.2016 para finalizar e/ou editar seu cadastro, à partir desta data 
          seu perfil ficará disponível e não será possível realizar novas edições ou alterações nas informações 
          preenchidas.
        </p>
        <p>
          <strong>Lembre-se:</strong> Para sua página ser publicada todos os campos obrigatórios devem estar preenchidos até o 
          dia 14.08.2016.
        </p>
        <p class="text-center">
          <a class="btn btn-success btn-lg" href="/cadastro-completo">Completar cadastro</a>
        </p>
      </div>
    </div>
  </div>
</section>

