---
title:  Como funciona?
---

<section id="works">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <h1 class="page-title">
          Como funciona?
        </h1>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="section-subtitle">Para o doador:</h3>

        <div class="doador-panel">
          <div>
            <i class="fi flaticon-magnifying-glass-finder"></i>
            <p>Doador encontra seu candidato através do campo de busca e/ou filtro.</p>
          </div>
          <div>
            <i class="fi flaticon-curriculum"></i>
            <p>Visualiza o perfil, informações da campanha e projetos prioritários do candidato.</p>
          </div>
          <div>
            <i class="fi flaticon-alms"></i>
            <p>Ao clicar em “Doar” o doador preenche informações e o valor da doação.</p>
          </div>
          <div>
            <i class="fi flaticon-list"></i>
            <p>Finalizando, o doador vota em 3 projetos prioritário do candidato que mais lhe agrada.</p>
          </div>
          <div>
            <i class="fi flaticon-business"></i>
            <p>Acompanha o histórico de doações, status e prestações de contas do candidato.</p>
          </div>
        </div>
      </div>

      <br class="divider">
      

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="section-subtitle">Para o candidato:</h3>

        <div class="doador-panel">
          <div>
            <i class="fi flaticon-curriculum-1"></i>
            <p>Ao preencher os dados, o cadastro do pré-candidato passará por uma validação.</p>
          </div>
          <div>
            <i class="fi flaticon-resume"></i>
            <p>Com o pré-cadastro aprovado, o candidato preenche informações pessoais e sobre sua campanha.</p>
          </div>
          <div>
            <i class="fi flaticon-money-1"></i>
            <p>O candidato passa a receber doações diretamente na sua conta de campanha.</p>
          </div>
          <div>
            <i class="fi flaticon-technology"></i>
            <p>Acompanha as informações, o histórico e o status de doações realizadas.</p>
          </div>
          <div>
            <i class="fi flaticon-graphic"></i>
            <p>O candidato visualiza os projetos prioritários e assuntos mais votados pelos seus doadores.</p>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <h3 class="section-subtitle">Dúvidas?</h3>
        <p>Acesse a página <a href="/faq" title="Página de perguntas frequentes (faq)">Perguntas Frequentes</a> ou entre em <a href="/contato" title="Página de contato">contato</a></p>
      </div>


    </div>
  </div>
</section>

