
<section id="historico-doacoes" ng-controller="HistoricoDoacoes">
  <div class="container">
    <div class="row">
      <div class="page-title-wrap">
        <h2 class="titulo-pagina text-center">Histórico de Doações!</h2>
        <hr class="depois-hist-doacoes" />
      </div>
    </div>
    <div class="row">
      <div class="num-gerais-wrap">
        <div class="col-md-4">
          <span class="total-arr">Total Arrecadado</span><br />
          <span class="total-arr-em-num">R$ 00.000</span><br />
          <div class="progress total-arr-progress-bar">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
              <span class="sr-only">40% Complete (success)</span>
            </div>
          </div>
          <div class="total-arr-baixo-prog-bar">
            <span class="porcent-em-numero">40%</span>
            <span class="dias-faltam">Faltam 10 dias</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
