---
title:  Obrigado por se cadastrar
---

<section id="pre-register">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="label label-status label-default">Pré-cadastro</span>
        <span class="label label-status label-success">Análise</span>
        <span class="label label-status label-default">Cadastro completo</span>
      </div>
      <div class="col-md-12 text-center">
        <h1 class="page-title">
          Enviado com sucesso
        </h1>
      </div>
      <div class="col-md-12">
        <p>Seu pré-cadastro foi enviado para análise com sucesso, cheque seu e-mail!</p>
        <p>Você será notificado por e-mail sobre o status do seu cadastro e caso aprovado, você precisará realizar um cadastro completo. Acesse a página <a href="/documentos-para-cadastro">Documentos para Cadastro</a> e visualize todos os itens necessários para fazer seu cadastro completo.</p>
        <p>Dúvidas? Acesse <a href="/faq">Perguntas frequentes</a>.</p>
      </div>
    </div>
  </div>
</section>

