---
title:  Esqueci minha senha
---

<section id="pre-register">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="page-title">
          Esqueci minha senha
        </h1>
      </div>
      <div class="col-md-12 text-center" style="min-height:200px;">
        <p> O procedimento para recuperar sua senha foi enviada para o e­mail cadastrado. </p>
      </div>
    </div>
  </div>
</section>

