---
title:  Documentos para cadastro
---

<section id="register-docs">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="page-title">Documentos para cadastro</h1>
      </div>
      <div class="col-md-12">
        <br class="divider">
        <p>Após ter o pré-cadastro aprovado o candidato precisa preencher as demais informações para ter sua página gerada e receber doações de pessoas físicas.<br>
        Providencie as informações listadas abaixo antes de começar a preencher seu cadastro. Os itens com asterisco (*) são obrigatórios:</p>
        <ul>
          <li><i class="fa fa-circle"></i>&nbsp;Foto para perfil (preferência para fotos com fundo branco)*</li>
          <li><i class="fa fa-circle"></i>&nbsp;Link do video (youtube, vimeo ou similar) da sua campanha*</li>
          <li><i class="fa fa-circle"></i>&nbsp;Links das suas mídias sociais (Facebook, Twitter, Instagram)</li>
          <li><i class="fa fa-circle"></i>&nbsp;Link do seu website (se houver)</li>
          <li><i class="fa fa-circle"></i>&nbsp;Quanto quer arrecadar*</li>
          <li><i class="fa fa-circle"></i>&nbsp;Planilha simplificada de gastos da campanha *</li>
          <li><i class="fa fa-circle"></i>&nbsp;Link TSE</li>
          <li><i class="fa fa-circle"></i>&nbsp;E-mail de contato para eleitores</li>
          <li><i class="fa fa-circle"></i>&nbsp;Nome do responsável pelo cadastro</li>
          <li><i class="fa fa-circle"></i>&nbsp;Telefone do responsável pelo cadastro</li>
          <li><i class="fa fa-circle"></i>&nbsp;E-mail do responsável pelo cadastro</li>
          <li><i class="fa fa-circle"></i>&nbsp;Breve apresentação da campanha (máximo 400 caracteres)*</li>
          <li><i class="fa fa-circle"></i>&nbsp;Sobre você (mini biografia)*</li>
          <li><i class="fa fa-circle"></i>&nbsp;4 temas prioritários da campanha*</li>
          <li><i class="fa fa-circle"></i>&nbsp;Agenda programática (título e breve descrição do projeto)*</li>
          <li><i class="fa fa-circle"></i>&nbsp;Token da Cielo*</li>
        </ul>
      </div>
      <div class="col-md-12">
        <h3 class="section-subtitle">Duvidas?</h3>
        <p>Acesse a pagina Perguntas Frequentes ou entre em contato</p>
      </div>
    </div>
  </div>
</section>

