---
title:  Pré-cadastro do candidato
---

<section id="pre-register">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="label label-status label-default">Pré-cadastro</span>
        <span class="label label-status label-success">Análise</span>
        <span class="label label-status label-default">Cadastro completo</span>
      </div>
      <div class="col-md-12">
        <h1 class="page-title">
          Pré-cadastro
        </h1>
      </div>
    </div>
  </div>
</section>

