---
title:  Parceiros
---

<section id="pre-register">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="page-title">
          Parceiros
        </h1>
      </div>
      <div class="col-md-12">
        <p>Conheça as organizações que apoiam a iniciativa Voto Legal e visam pela transparência para gerar uma participação ativa do cidadão e mudar o paradigma das eleições e do processo democrático. </p>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/avina-logo.jpg" alt="Avina">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/casadarwin-logo.jpg" alt="Casa Darwin">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/casafluminense-logo.jpg" alt="Casa Fluminense">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/catarse-logo.jpg" alt="Catarse">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/ciclocidade-logo.jpg" alt="Ciclo Cidade">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/cidadeape-logo.jpg" alt="Cidadeapé">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/cidadedossonhos-logo.jpg" alt="Cidade dos Sonhos">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/cidadesparapessoas-logo.jpg" alt="Cidades para Pessoas">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/dadocapital-logo.jpg" alt="Dado Capital">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/eokoe-logo.jpg" alt="Eokoe">
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/instethos-logo.jpg" alt="Instituto Ethos">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/legado-logo.jpg" alt="Legado No Legislativo">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/minhasampa-logo.jpg" alt="Minha Sampa">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/opkn-logo.jpg" alt="Open Knowledge">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/paiol-logo.jpg" alt="Paiol Filmes">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/politize-logo.jpg" alt="Politize">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/questono-logo.jpg" alt="QuettoNo">
      </div>


      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/raps-logo.jpg" alt="RAPS">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/redenossasp-logo.jpg" alt="Rede Nossa SP">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/transphacker-logo.jpg" alt="Transparência Hacker">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/update-logo.jpg" alt="Update">
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <img class="img-thumbnail" src="/images/parceiros/w3c-logo.jpg" alt="W3C">
      </div>
    </div>
  </div>
</section>

