---
title:  Parceiros
---

<section id="pre-register">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="page-title">
          Parceiros
        </h1>
      </div>
      <div class="col-md-12">
        <p>Conheça as organizações que apoiam a iniciativa Voto Legal e visam pela transparência para gerar uma participação ativa do cidadão e mudar o paradigma das eleições e do processo democrático. </p>
      </div>

      <div class="col-md-3">
        <img class="img-thumbnail" src="/images/parceiros/casa-darwin.png" alt="">
      </div>
      <div class="col-md-3">
        <img class="img-thumbnail" src="/images/parceiros/casa-darwin.png" alt="">
      </div>
      <div class="col-md-3">
        <img class="img-thumbnail" src="/images/parceiros/casa-darwin.png" alt="">
      </div>
      <div class="col-md-3">
        <img class="img-thumbnail" src="/images/parceiros/casa-darwin.png" alt="">
      </div>

      <div class="col-md-3">
        <img class="img-thumbnail" src="/images/parceiros/casa-darwin.png" alt="">
      </div>
      <div class="col-md-3">
        <img class="img-thumbnail" src="/images/parceiros/casa-darwin.png" alt="">
      </div>
      <div class="col-md-3">
        <img class="img-thumbnail" src="/images/parceiros/casa-darwin.png" alt="">
      </div>
      <div class="col-md-3">
        <img class="img-thumbnail" src="/images/parceiros/casa-darwin.png" alt="">
      </div>
    </div>
  </div>
</section>

