<main class="home-page__main">
	<% content_tag :form, name: 'signinForm', class: 'login-form angular-form', 'ng-submit' => "authenticate(signinForm.$valid)", novalidate: '' do %>
		<p class="text-center">
			<input type="text" class="form-control" name="email" ng-model="signin.email" placeholder="E-mail" autofocus required>
		</p>
		<p class="text-center">
			<input type="password" class="form-control" name="password" ng-model="signin.password" placeholder="Senha" required>
		</p>
		<p class="text-center">
			<small><%= link_to 'Esqueci minha senha', '/conta/recuperar-senha' %></small>
		</p>
		<p class="text-center">
			<button class="btn btn-success" type="submit">Entrar</button>
		</p>
		<p class="text-center">
			<small>É candidato e não possui cadastro? <% link_to '/pre-cadastro' do %>Clique aqui<% end %></small>
		</p>
	<% end %>
</main>


