---
title:  Candidato(a)
---

<% if build? %>
  <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>

</script>
<% else %>
  <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
  <!-- script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script -->
<% end %>
<script src='https://www.google.com/recaptcha/api.js'></script>

<section id="candidate" ng-controller="CandidateController">
	<div class="maintenance container text-center" ng-if="candidate.publish == 0 || candidate == undefined"> Site em manutencão </div>


  <div class="candidate-header container " ng-if="candidate && candidate.publish == 1" >
    <div class="row">
      <div class="col-md-12 col-xs-12 text-center hidden-lg hidden-md hidden-sm" style="min-height:175px;">
        <img ng-src="{{candidate.picture || '/images/candidatos/user_general.jpg'}}" class="img-circle" width="175px" height="175px" title="{{candidate.popular_name}}" alt="{{candidate.popular_name}}">
      </div>
      <div class="col-md-6 col-sm-8 text-left">
        <h1 class="nome-candidato">
          <span class="nome">{{candidate.popular_name}}</span>
          <i class="fa fa-circle"></i>
          <span class="partido">{{candidate.party.acronym}}</span>
        </h1>
        <p class="assuntos">{{candidate.issues_decorator}}</p>
        <p class="cidade">
		  <span class="label label-success">{{(candidate.office_id === 1? 'Prefeito' : (candidate.office_id === 2? 'Vereador' : (candidate.office_id === 3? 'Vice-prefeito' : ''))) }}</span>
		<!-- CNPJ:  TODO: Recolocar no dia (a partir de 15/08) -->
         {{candidate.address_city}} - {{candidate.address_state}} - CPF: {{candidate.cpf}}
        </p>
      </div>
      <div class="col-md-6 col-sm-4 text-right hidden-xs">
        <%# img src="/images/mocks/candidate-stamp.png" class="profile-stamp" alt="">
        <img src="/images/mocks/candidate-stamp.png" class="profile-stamp" alt="">
        <img src="/images/mocks/candidate-stamp.png" class="profile-stamp" alt="">
        <img src="/images/mocks/candidate-stamp.png" class="profile-stamp" alt="" %>
        <a href="#/"><img ng-src="{{candidate.picture || '/images/candidatos/user_general.jpg'}}" class="profile-image" title="{{candidate.popular_name}}" alt="{{candidate.popular_name}}"></a>
      </div>
    </div>
  </div>
	<div id="candidate-container" class="container-fluid degrade-default" ng-if="candidate && candidate.publish == 1" ng-view>
		<h3 class="text-center text-muted">Carregando perfil do candidato...</h3>
	</div>

</section>


<script>
  (function(){
    var s = document.createElement('script');
    s.src = "https://www.youtube.com/iframe_api";
    var _first  = document.getElementsByTagName('script')[0];
    _first.parentNode.insertBefore(s, _first);
  })();
</script>
