---
title:  Candidato(a) 
---

<% if build? %>
  <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
<% else %>
  <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
  <!-- script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script -->
<% end %>

<section id="candidate" ng-controller="CandidateController">
  
  <div class="candidate-header container">
    <div class="row">
      <div class="col-md-6 text-left">
        <h1 class="nome-candidato">
          <span class="nome">{{candidate.popular_name}}</span>
          <i class="fa fa-circle"></i>
          <span class="partido">{{candidate.party.acronym}}</span>
        </h1>
        <p class="assuntos">{{candidate.issues_decorator}}</p>
        <p class="cidade">{{candidate.address_city}} - {{candidate.address_state}}</p>
      </div>
      <div class="col-md-6 text-right">
        <%# img src="/images/mocks/candidate-stamp.png" class="profile-stamp" alt="">
        <img src="/images/mocks/candidate-stamp.png" class="profile-stamp" alt="">
        <img src="/images/mocks/candidate-stamp.png" class="profile-stamp" alt="">
        <img src="/images/mocks/candidate-stamp.png" class="profile-stamp" alt="" %>
        <a href="#/"><img ng-src="{{candidate.picture || '/images/candidatos/user_general.jpg'}}" class="profile-image" title="{{candidate.popular_name}}" alt="{{candidate.popular_name}}"></a>
      </div>
    </div>
  </div>

  <div class="container-fluid degrade-default" ng-view>
    <h3 class="text-center text-muted">Carregando perfil do candidato...</h3>
  </div>
</section>


<script>
  (function(){
    var s = document.createElement('script');
    s.src = "https://www.youtube.com/iframe_api";
    var _first  = document.getElementsByTagName('script')[0];
    _first.parentNode.insertBefore(s, _first);
  })();
</script>
