---
title:  Search-face
---


<section  ng-controller="CandidateController">


<div class="certiface" >
	  <div id="loading" class="load-backdrop" >
		  <h1>Gerando boleto...</h1>
			<i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw " ng-if="responseResponseCertiSign === false"></i><br>
			<i class="fa fa-exclamation-triangle fa-5x fa-fw " ng-if="responseResponseCertiSign === 'erro'"></i><br>
			 <a href="{{urlBoleto}}" ng-if="responseResponseCertiSign == true" download> <img src="{{urlBoleto}}" alt></a>
	  </div>

</div>

</section>

