---
title: Search-face
---


<section ng-controller="CandidateController">


	<div class="certiface">
		<div id="loading" class="load-backdrop">
			<h1 ng-if="responseResponseCertiSign == true">Gerando boleto...</h1>
			<h1 ng-if="responseResponseCertiSign == 'success'">Imprima seu boleto boleto...</h1>

			<i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw " ng-if="responseResponseCertiSign === false"></i>
			<br>

			<div class="err" ng-if="responseResponseCertiSign === 'erro'">
				<h1>Tivemos um erro com seu reconhecimento, você podria tentar novamente</h1>
				<i class="fa fa-exclamation-triangle fa-5x fa-fw danger" ></i>
				<br>
			</div>

			<a href="{{urlBoleto}}" ng-if="responseResponseCertiSign == 'success'" download font-size="20px">
				<i class="fa fa-print fa-5x fa-fw" aria-hidden="true"></i>
			</a>
		</div>

	</div>

</section>
